colorpalette {
  text1:        #666666; /* rgba(102,102,102) | Dim Gray  */
  background1:  #000000; /* rgb(0,0,0) | Black */
  hyperlinks:   #F25E5E; /* rgb(242,94,94) | Bittersweet */
  hover:        #BFA084; /* rgb(191,160,132) | Rodeo Dust */
  gradient1:    #363B40; /* rgb(54,59,64) | Baltic Sea */
  gradient2:    #366273; /* rgb(54,98,115) | Blumine */
  shadow1:      #7f89a1; /* rgb(127,137,161) | Ship Cove */
  shadow2:      #494E5C; /* rgb(73,78,92) | Tuna */
}
