@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-blumine: #366273;
  --color-turquoise: #01a29a;
  --color-onyx: #363b40;
  --color-aquahaze: #eff5f5;
  --color-lion: #bfa084;
  --color-gamboge: #f09e1a;
}

/* ------ Selection ------ */
::selection {
  @apply text-white bg-blumine;
}

/* ------ Scrollbar ------ */

::-webkit-scrollbar {
  @apply w-2 h-2;
}
::-webkit-scrollbar-button {
  @apply w-0 h-0;
}
::-webkit-scrollbar-thumb {
  @apply bg-lion border-none;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-turquoise;
}
::-webkit-scrollbar-thumb:active {
  @apply bg-turquoise;
}
::-webkit-scrollbar-track {
  /* border-radius: 0px; */
  @apply bg-onyx border-none;
}
::-webkit-scrollbar-track:hover {
  @apply bg-onyx;
}
::-webkit-scrollbar-track:active {
  @apply bg-onyx;
}
::-webkit-scrollbar-corner {
  @apply bg-transparent;
}

/* ------ Summary ------ */
summary::-webkit-details-marker,
summary::marker {
  /* hides the default arrow */
  display: none;
  content: none;
}
