/* ------ Global Styles ------ */
:root {
  --color-blumine: #366273;
  --color-turquoise: #01a29a;
  --color-onyx: #363b40;
  --color-aquahaze: #eff5f5;
  --color-lion: #bfa084;
  --color-gamboge: #f09e1a;
}

/* ------ Selection ------ */
::selection {
  color: #ffffff;
  background-color: var(--color-blumine);
}

/* ------ Scrollbar ------ */

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}
::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}
::-webkit-scrollbar-thumb {
  background-color: var(--color-lion);
  border: none;
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-turquoise);
}
::-webkit-scrollbar-thumb:active {
  background-color: var(--color-turquoise);
}
::-webkit-scrollbar-track {
  background-color: var(--color-onyx);
  border: none;
}
::-webkit-scrollbar-track:hover {
  background-color: var(--color-onyx);
}
::-webkit-scrollbar-track:active {
  background-color: var(--color-onyx);
}
::-webkit-scrollbar-corner {
  background-color: transparent;
}

/* ------ Summary ------ */
summary::-webkit-details-marker,
summary::marker {
  /* hides the default arrow */
  display: none;
  content: none;
}
