---
layout: page
title: Neuigkeiten des Volleyballclub Müllheim
permalink: /blog/
---

<main id="main" class="section-bg pt-3 pt-lg-5">

<!--===== News =====-->
<section id="news">
    <div class="container">
        <div class="row newsposts">

            {% for post in site.posts %}
            <div class="col-lg-6">
                <div class="box" onclick="location.href='{{ post.url }}';">
                    {% if post.thumbnail == "" or post.thumbnail == nil or post.thumbnail == blank %} {% else %}
                    <a class="thumbnail" href="{{ post.url }}"><div style="background-image:url({{ post.thumbnail }}), linear-gradient(rgba(54,59,64,0.9), rgba(54,98,115,0.9));"></div></a>
                    {% endif %}
                    <h4 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h4>
                    <div class="post-content"><div class="post-excerpt {% if post.thumbnail == '' or post.thumbnail == nil or post.thumbnail == blank %} no-post-thumbnail{% endif %}">{{ post.excerpt | strip_html }}</div></div>
                    <p class="post-url"><a href="{{ post.url }}" class="read-more">weiterlesen</a></p>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</section>
<!--===== #news =====-->

<section class="section-bg text-center pb-5">
    <div class="social-sharing p-3">
        <a class="twitter" href="https://twitter.com/search?q=%22VC%20M%C3%BCllheim%22" target="_blank"><i class="fab fa-twitter"></i><span>Mehr VC Müllheim auf Twitter!</span></a>
    </div>
</section>

</main>
