---
layout: page
title: Neuigkeiten des Volleyballclub Müllheim
permalink: /blog/
---

<main class="flex-grow-1">
  <!--===== News =====-->
  <section id="news" class="section-bg pt-3 pt-lg-5">
    <div class="container">
      <div class="row newsposts pt-md-4 pt-lg-0">
        {% for post in site.posts %}
        <div class="col-lg-6">
          <div class="box" onclick="location.href='{{ post.url }}';">
            {% if post.thumbnail == "" or post.thumbnail == nil or post.thumbnail == blank %} {% else %}
            <a class="thumbnail" href="{{ post.url }}"><div style="background-image:url({{ post.thumbnail }});"></div></a>
            {% endif %}
            <h4 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h4>
            <div class="post-content">
              <div class="post-excerpt {% if post.thumbnail == '' or post.thumbnail == nil or post.thumbnail == blank %} no-post-thumbnail{% endif %}">{{ post.excerpt | strip_html }}</div>
            </div>
            <p class="post-url"><a href="{{ post.url }}" class="read-more">weiterlesen</a></p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
  <!--===== #news =====-->
</main>
