---
layout: page
title: Neuigkeiten des Volleyballclub Müllheim e.V.
permalink: /blog/
---

<main id="main">
    
<!--===== News =====-->
<section id="news" class="section-bg">
    <div class="container">
        <div class="row newsposts">

            {% for post in site.posts %}
            <div class="col-lg-6">
                <div class="box wow fadeInUp" onclick="location.href='{{ site.baseurl }}{{ post.url }}';">
                    {% if post.thumbnail %}
                    <a class="thumbnail" href="{{ site.baseurl }}{{ post.url }}"><div style="background-image:url({{ post.thumbnail }}), linear-gradient(rgba(54,59,64,0.9), rgba(54,98,115,0.9));"></div></a>
                    {% endif %}
                    <h4 class="post-title"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h4>
                    <article class="post-excerpt">{{ post.excerpt }}</article>
                    <p class="post-url"><a href="{{ site.baseurl }}{{ post.url }}" class="read-more">weiterlesen</a></p>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</section>
<!--===== #news =====-->

<section class="section-bg text-center pb-5">
    <div class="social-sharing p-3">
        <a class="twitter" href="https://twitter.com/search?q=VC%20M%C3%BCllheim&src=spxr&lang=de" target="_blank"><i class="fa fa-twitter"></i><span>Mehr VC Müllheim auf Twitter!</span></a>
    </div>
</section>
    
</main>
