---
layout: page
title: Kontaktinformationen
permalink: /kontakt/
---

<main id="main">
    
<!--===== News =====-->
<section id="news" class="section-bg">
    <div class="container">
        <div class="row newsposts">

            {% for club_member in site.club_members %}
            <div class="col-lg-6">
                <div class="box wow fadeInUp" onclick="location.href='{{ site.baseurl }}{{ post.url }}';">
                    {% if club_member.avatar %}
                    <a class="thumbnail" href="{{ site.baseurl }}{{ post.url }}"><div style="background-image:url({{ club_member.avatar }}), linear-gradient(rgba(54,59,64,0.9), rgba(54,98,115,0.9));"></div></a>
                    {% endif %}
                    <h4 class="post-title">{{ club_member.name }}</h4>
                    <p class="post-url"><a href="mailto:{{ club_member.name }}" class="read-more">{{ club_member.email }}</a></p>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</section>
<!--===== #news =====-->

</main>
