---
layout: page
title: Kontaktinformationen
permalink: /mitglieder/
---

<main id="main">

<!--===== Members =====-->
<section id="members" class="section-bg">
    <div class="container">
        <div class="row mitgliederliste">

            {% for club_member in site.club_members | sort: 'sortorder' %}
            <div class="col-lg-4">
                <div class="box wow fadeInUp">
                    {% if club_member.avatar %}
                    <a class="avatar"><div style="background-image:url({{ club_member.avatar }}), linear-gradient(rgba(54,59,64,0.9), rgba(54,98,115,0.9));"></div></a>
                    {% else %}
                        {% if club_member.facebook %}
                        <a class="avatar"><div style="background-image:url(https://graph.facebook.com/{{ club_member.facebook }}/picture?type=large), linear-gradient(rgba(54,59,64,0.9), rgba(54,98,115,0.9));"></div></a>
                        {% endif %}
                    {% endif %}
                    <h4 class="name">{{ club_member.name }}</h4>

                      <div class="social-sharing square">
                          {% if club_member.email %}
                          <a class="email" href="mailto:{{ club_member.email }}?subject=" target="_blank"><i class="fa fa-envelope"></i></a>
                          {% endif %}
                          {% if club_member.facebook %}
                          <a class="facebook" href="http://m.me/{{ club_member.facebook }}" target="_blank"><i class="fa fa-facebook"></i></a>
                          {% endif %}
                          {% if club_member.twitter %}
                          <a class="twitter" href="https://twitter.com/messages/compose?recipient_id={{ club_member.twitter }}" target="_blank"><i class="fa fa-twitter"></i></a>
                          {% endif %}
                          {% if club_member.whatsapp %}
                          <a class="whatsapp" href="https://wa.me/{{ club_member.whatsapp }}" target="_blank"><i class="fa fa-whatsapp"></i></a>
                          {% endif %}
                      </div>


                    {{ club_member.content }}
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</section>
<!--===== #members =====-->

</main>
