.DS_Store
.containerignore
.dockerignore
.editorconfig
.env*.local
!.env.production.local
.git
.gitignore
.idea
.vscode
coverage*
podman-compose*
Containerfile*
Dockerfile*
LICENSE
node_modules
README.md
scripts