# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# next.js
/.next
/out
/build

# cache
.temp/

# misc
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo
next-env.d.ts

# payload
media

# aws
cdk.out
cdk-outputs.json
cdk.context.json