---
layout: default
---

<!--===== Intro =====-->
  <section id="intro">

    <div class="intro-text">
      <h2>Wilkommen</h2>
      <p>auf der Seite des Volleyballclub Müllheim e.V.</p>
      <a href="#mannschaften" class="btn-get-started scrollto">Auf geht's!</a>
    </div>

    <div class="product-screens">
      <div class="product-screen-1 wow fadeInUp" data-wow-delay="0.4s" data-wow-duration="0.6s">
        <img src="/img/product-screen-1.jpg" alt="">
      </div>
      <div class="product-screen-2 wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="0.6s">
        <img src="/img/product-screen-2.jpg" alt="">
      </div>
      <div class="product-screen-3 wow fadeInUp" data-wow-duration="0.6s">
        <img src="/img/product-screen-3.jpg" alt="">
      </div>
    </div>

  </section>
<!--===== #intro =====-->

<main id="main">

<!--===== Mannschaften =====-->
    <section id="mannschaften" class="section-bg">
      <div class="container">

        <div class="section-header">
          <h3 class="section-title">Mannschaften</h3>
          <span class="section-divider"></span>
          <p class="section-description">Der VC Müllheim besteht zur Zeit aus zwei aktiven Herrenmannschaften und zwei Freizeitgruppen.</p>
        </div>

        <div class="row">

          <div class="col-lg-6">
            <div class="box wow fadeInLeft">
              <div class="icon"><i class="ion-ios-people-outline"></i></div>
              <h4 class="title"><a href="#kontakt">1. Herren - Verbandsliga</a></h4>
              <p class="description"><b>Trainingszeiten:</b><br>
                Dienstags & Donnerstags 20:00-22:00 Uhr<br>
                <a href="https://goo.gl/maps/g3XhvCS9gpR2" target="_blank">Sporthalle II</a><br><br>
                <b>Trainer</b>: Thomas Seywald</p>
          <!--=====Ergebnisdienst & Kalendar =====-->
                <div id="h1tabelle-popup" class="mfp-hide ergebnisdienst">
                  <div class="vly" data-league-id="sbvv_m_2_2" data-no-games data-team='VC Müllheim'></div>
                </div>
                <p class="description">
                  <br><b>Saison 18/19</b>: <a href="#h1tabelle-popup" class="open-popup-link">Tabelle</a>&nbsp;|&nbsp;
                  <a href="https://volleyball-ergebnisdienst.de/api/schedules/sbvv_m_2_2/vc_m_llheim/calendar.ics">Kalender</a>
                </p>
          <!--=====.ergebnisdienst =====-->
            </div>
          </div>

          <div class="col-lg-6">
            <div class="box wow fadeInRight">
              <div class="icon"><i class="ion-ios-people-outline"></i></div>
              <h4 class="title"><a href="#kontakt">2. Herren - Bezirksliga</a></h4>
              <p class="description"><b>Trainingszeiten:</b><br>
                Dienstags 20:00-22:00 Uhr<br>
                <a href="https://goo.gl/maps/eAeBCM12GVk" target="_blank">Rosenburgschule</a><br><br>
                <b>Trainer</b>: </p>
          <!--=====Ergebnisdienst & Kalendar =====-->
                <div id="h2tabelle-popup" class="mfp-hide ergebnisdienst">
                  <div class="vly" data-league-id="sbvv_m_3_2" data-no-games data-team='VC Müllheim'></div>
                </div>
                <p class="description">
                  <br><b>Saison 18/19</b>: <a href="#h2tabelle-popup" class="open-popup-link">Tabelle</a>&nbsp;|&nbsp;
                  <a href="https://volleyball-ergebnisdienst.de/api/schedules/sbvv_m_3_2/vc_m_llheim_2/calendar.ics">Kalender</a>
                </p>
          <!--=====.ergebnisdienst =====-->
            </div>
          </div>

          <div class="col-lg-6">
            <div class="box wow fadeInLeft">
              <div class="icon"><i class="ion-ios-people-outline"></i></div>
              <h4 class="title"><a href="#kontakt">Freizeit</a></h4>
              <p class="description"><b>Trainingszeiten:</b><br>
                Montag & Donnerstags 20:00-22:00 Uhr<br>
                <a href="https://goo.gl/maps/g3XhvCS9gpR2" target="_blank">Sporthalle II</a><br><br>
                <!-- <b>Trainer</b>: --></p>
            </div>
          </div>


        </div>
      </div>
    </section>
<!--===== #mannschaften =====-->

<!--===== Call To Action =====-->
    <section id="call-to-action">
      <div class="container">
        <div class="row">
          <div class="col-lg-9 text-center text-lg-left">
            <h3 class="cta-title">Klingt gut?</h3>
            <p class="cta-text">
              Sagen dir unsere Trainingszeiten zu? Dann komm doch einfach mal vorbei! Wir freuen uns auf dich!
            </p>
          </div>
          <div class="col-lg-3 cta-btn-container text-center">
            <a class="cta-btn align-middle scrollto" href="#kontakt">Jetzt loslegen!</a>
          </div>
        </div>

      </div>
    </section>
<!--===== #call-to-action =====-->

<!--===== Verein =====-->
    <section id="verein" class="">
      <div class="container-fluid">
        <div class="section-header">
          <h3 class="section-title">Verein</h3>
          <span class="section-divider"></span>
          <p class="section-description">
            Der VC Müllheim besteht zur Zeit aus zwei aktiven Herrenmannschaften und zwei Freizeitgruppen.
        </p>
        </div>

        <div class="row">
          <div class="col-lg-6 verein-img wow fadeInNone">
            <img src="/img/verein-img.jpg" alt="">
          </div>

          <div class="col-lg-6 content wow fadeInNone">
            <h2>Der Vorstand</h2>
            <ul class="memberlist">
              {% assign mitglieder = (site.club_members | sort: 'sortorder') %}
                {% for club_member in mitglieder %}
                  {% if club_member.sortorder | at_most: 10 %}
                    <li><a class="avatar">
                      {% if club_member.avatar %}
                      <div style="background-image:url({{ club_member.avatar }}), linear-gradient(rgba(54,59,64,0.9), rgba(54,98,115,0.9));"></div>
                      {% else %}
                      {% if club_member.facebook %}
                      <div style="background-image:url(https://graph.facebook.com/{{ club_member.facebook }}/picture?type=small), linear-gradient(rgba(54,59,64,0.9), rgba(54,98,115,0.9));"></div>
                      {% endif %}
                      </a><span class="member-function">{{ club_member.function }}</span>: <span class="member-name">{{ club_member.name }}</span>
                    </li>
                  {% endif %}
                {% endfor %}
            </ul>
          </div>
        </div>

      </div>
    </section>
<!--===== #verin =====-->


<!--===== Additional Content =====-->
    <section id="additional-content">

      <div class="features-row section-bg">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <img class="advanced-feature-img-left" src="/img/muellheim-stadtfest.jpg" alt="">
              <div class="wow fadeInNone">
                <h2>Müllheimer Stadtfest</h2>
                <i class="ion-bonfire wow fadeInNone" data-wow-duration="0.5s"></i>
                <p class="wow fadeInNone" data-wow-duration="0.5s">Das Müllheimer Stadtfest findet jährlich am letzten Juni-Wochenende statt.
                  Der VC Müllheim beteiligt sich seit vielen Jahren an dem Fest und bietet in seiner Laube traditionsgemäß Pfannengyros und Jägerschnitzel an.
                  Für den Auf- und Abbau der Laube sowie bei deren Betrieb benötigt der Verein die Unterstützung aller Vereinsmitglieder.
                  Durch den Erlös des Stadfestes kann der Verein sein sportliches Angebot bei niedrigen Mitgliederbeiträgen aufrecht erhalten.
                  Zur Belohnung werden die Helfer zu einem Helferfest mit vielen kulinarischen Köstlichkeiten eingeladen!<br><br>
                  Helft also mit - es lohnt sich!</p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </section>
<!--===== #additional-content =====-->


<!--===== Sponsoren =====-->
    <section id="sponsors">
      <div class="container">

        <div class="row wow fadeInNone">

          <div class="col-md-3">
            <h2 >Sponsoren</h2>
            <p>Wir bedanken uns herzlich bei unseren Sponsoren!</p>
          </div>
          <div class="col-">
            <a href="https://bikeshop-heitersheim.de" target="_blank"><img src="/img/sponsors/sponsor-1.png" alt=""></a>
          </div>

          <div class="col-">
            <a href="http://hausbaeckereikotz.de" target="_blank"><img src="/img/sponsors/sponsor-2.jpg" alt=""></a>
          </div>

        </div>
      </div>
    </section>
<!--===== #sponsors =====-->

<!--===== News (Blog Posts) =====-->
<section id="news" class="section-bg">
    <div class="container">
        <div class="row newsposts">
      <!--===== Most Recent News Post =====-->
            {% for post in site.posts limit:1 %}
            <div class="col-lg-6">
                <div class="box wow fadeInLeft" onclick="location.href='{{ post.url }}';">
                    {% if post.thumbnail %}
                    <a class="thumbnail" href="{{ post.url }}"><div style="background-image:url({{ post.thumbnail }}), linear-gradient(rgba(54,59,64,0.9), rgba(54,98,115,0.9));"></div></a>
                    {% endif %}
                    <h4 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h4>
                    <p class="post-excerpt">{{ post.excerpt }}</p>
                    <p class="post-url"><a href="{{ post.url }}" class="read-more">weiterlesen</a></p>
                </div>
            </div>
            {% endfor %}
      <!--===== Second Most Recent News Post =====-->
            {% for post in site.posts limit:1 offset:1 %}
            <div class="col-lg-6">
                <div class="box wow fadeInRight" onclick="location.href='{{ site.baseurl }}{{ post.url }}';">
                    {% if post.thumbnail %}
                    <a class="thumbnail" href="{{ post.url }}"><div style="background-image:url({{ post.thumbnail }}), linear-gradient(rgba(54,59,64,0.9), rgba(54,98,115,0.9));"></div></a>
                    {% endif %}
                    <h4 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h4>
                    <p class="post-excerpt">{{ post.excerpt }}</p>
                    <p class="post-url"><a href="{{ post.url }}" class="read-more">weiterlesen</a></p>
                </div>
            </div>
            {% endfor %}

        </div>

        <div class="cta-btn-container text-center wow fadeInUp">
          <a class="archiv-btn align-middle scrollto" href="/blog">alle Newsbeiträge</a>
        </div>
    </div>
</section>
<!--===== #news =====-->

<!--===== Kontakt =====-->
    <section id="kontakt">
      <div class="container">
        <div class="row wow fadeInNone">

          <div class="col-lg-4 col-md-4">
            <div class="kontakt-verein">
              <h3>Kontakt</h3>
              <p>Zögere bitte nicht. Solltest du Fragen an uns haben, oder Interesse mit uns zu trainieren, dann melde dich bei uns!</p>
              <div class="social-links">
                <a href="https://www.facebook.com/VCMuellheim/" class="facebook" target="_blank"><i class="fa fa-facebook"></i></a>
                <a href="mailto:info@vcmuellheim.de" class="mail"><i class="fa fa-inbox"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4">
            <div class="info">
              <div>
                <i class="ion-ios-email-outline"></i>
                <p><a href="mailto:info@vcmuellheim.de" class="mail" target="_blank">info@vcmuellheim.de</a></p>
              </div>

              <div>
                <i class="ion-ios-telephone-outline"></i>
                <p><a href="tel:+4976312472">+49 (0) 7631 / 2472</a></p>
              </div>

              <div>
                <i class="ion-ios-person-outline"></i>
                <p>Lothar Voigt<br>
                  Lettenstr. 48<br>
                  79424 Auggen<br>
                  lothar.voigt@t-online.de</p>
              </div>
            </div>
          </div>

    <!--===== Facebook Embedding =====-->
          <div id="facebook-embedding" class="col-lg-4 col-md-4">
           <div id="fb-root"></div>
             <script async defer crossorigin="anonymous" src="https://connect.facebook.net/de_DE/sdk.js#xfbml=1&version=v3.3"></script>
           <div class="fb-page" data-href="https://www.facebook.com/pg/VCMuellheim/" data-tabs="messages" data-width="500" data-height="400" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="false">
             <blockquote cite="https://www.facebook.com/pg/VCMuellheim/" class="fb-xfbml-parse-ignore">
               <a href="https://www.facebook.com/pg/VCMuellheim/">VC Müllheim</a></blockquote>
           </div>
          </div>
    <!--===== #facebook-embedding =====-->

        </div>

      </div>
    </section>
<!--===== #kontakt =====-->

</main>
