---
layout: default
---

<!--===== Intro =====-->
  <section id="intro">

    <div class="intro-text">
      <img src="/img/vcm-banner-white.png" class="vcm-banner">
      <p>Willkommen beim Volleyballclub Müllheim.</p>
      <a href="#mannschaften" class="btn-get-started scrollto">Auf geht's!</a>
    </div>

    <div class="welcome-screens">
      <div class="welcome-screen-1 wow fadeInUp" data-wow-delay="0.4s" data-wow-duration="0.6s">
        <img src="/img/welcome-screen-1.jpg" alt="">
      </div>
      <div class="welcome-screen-2 wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="0.6s">
        <img src="/img/welcome-screen-2.jpg" alt="">
      </div>
      <div class="welcome-screen-3 wow fadeInUp" data-wow-duration="0.6s">
        <img src="/img/welcome-screen-3.jpg" alt="">
      </div>
    </div>

  </section>
<!--===== #intro =====-->

<main id="main">

<!--===== Mannschaften =====-->
    <section id="mannschaften" class="section-bg">
      <div class="container">

        <div class="section-header">
          <h3 class="section-title">Mannschaften</h3>
          <span class="section-divider"></span>
          <p class="section-description">Der VC Müllheim besteht zur Zeit aus zwei aktiven Herrenmannschaften, zwei Freizeitgruppen und einer Jugend.</p>
        </div>

        <div class="row">

          <div class="col-lg-6">
            <div class="box wow fadeInLeft">
              <h4 class="title">1. Herren - Verbandsliga</h4>
              <p class="description"><b>Trainingszeiten:</b><br>
                Dienstags & Donnerstags 20:00-22:00 Uhr<br>
                <a href="https://goo.gl/maps/g3XhvCS9gpR2" target="_blank">Sporthalle II</a><br><br>
                <b>Trainer</b>: <a href="mailto:thomas@vcmuellheim.de">Thomas Seywald</a></p>
          <!--=====Ergebnisdienst & Kalendar =====-->
                <div id="h1tabelle-popup" class="mfp-hide ergebnisdienst">
                  <div class="vly" data-league-id="sbvv_m_1_1" data-no-games data-team='VC Müllheim'></div>
                </div>
                <p class="description">
                  <br><b>Saison 19/20</b>: <a href="#h1tabelle-popup" class="open-popup-link">Tabelle</a>&nbsp;|&nbsp;
                  <a href="https://volleyball-ergebnisdienst.de/api/schedules/sbvv_m_1_1/vc_m_llheim/calendar.ics">Kalender</a>
                </p>
          <!--=====.ergebnisdienst =====-->
            </div>
          </div>

          <div class="col-lg-6">
            <div class="box wow fadeInRight">
              <h4 class="title">2. Herren - Bezirksklasse</h4>
              <p class="description"><b>Trainingszeiten:</b><br>
                Dienstags 20:00-22:00 Uhr<br>
                <a href="https://goo.gl/maps/eAeBCM12GVk" target="_blank">Rosenburgschule</a><br><br>
                <b>Trainer</b>: <a href="mailto:claudio@vcmuellheim.de">Claudio Lindemann-czak</a> & <a href="mailto:andreas@vcmuellheim.de">Andreas Albrecht</a></p>
          <!--=====Ergebnisdienst & Kalendar =====-->
                <div id="h2tabelle-popup" class="mfp-hide ergebnisdienst">
                  <div class="vly" data-league-id="sbvv_m_4_3" data-no-games data-team='VC Müllheim'></div>
                </div>
                <p class="description">
                  <br><b>Saison 19/20</b>: <a href="#h2tabelle-popup" class="open-popup-link">Tabelle</a>&nbsp;|&nbsp;
                  <a href="https://volleyball-ergebnisdienst.de/api/schedules/sbvv_m_4_3/vc_m_llheim_2/calendar.ics">Kalender</a>
                </p>
          <!--=====.ergebnisdienst =====-->
            </div>
          </div>

          <div class="col-lg-6">
            <div class="box wow fadeInLeft">
              <h4 class="title">Freizeit 1</h4>
              <p class="description"><b>Trainingszeiten:</b><br>
                Montags 20:00-22:00 Uhr<br>
                <a href="https://goo.gl/maps/g3XhvCS9gpR2" target="_blank">Sporthalle II</a><br><br>
                <b>Ansprechpartner</b>: <a href="mailto:kerstin@vcmuellheim.de">Kerstin Hackhausen</a> & <a href="mailto:susanne@vcmuellheim.de">Susanne Kainer</a></p>
              <p class="description"><br>Diese Gruppe besteht aus ehemaligen Spielern und Spielerinnen die auf forgeschrittenem Niveau spielen!</p>
            </div>
          </div>


          <div class="col-lg-6">
            <div class="box wow fadeInRight">
              <h4 class="title">Freizeit 2</h4>
              <p class="description"><b>Trainingszeiten:</b><br>
                Donnerstags 20:00-22:00 Uhr<br>
                <a href="https://goo.gl/maps/g3XhvCS9gpR2" target="_blank">Sporthalle II</a><br><br>
                <b>Ansprechpartner</b>: <a href="mailto:wolfgang@vcmuellheim.de">Wolfgang Lacher</a></p>
              <p class="description"><br>Diese gemische Gruppe begrüßt Anfänger und Fortgeschrittene gleichermaßen!</p>
            </div>
          </div>


          <div class="col-lg-6">
            <div class="box wow fadeInLeft">
              <h4 class="title"><a href="#kontakt">Jugend</a></h4>
              <p class="description"><b>Trainingszeiten:</b><br>
                Dienstags & Mittwochs 18:30-20:00 Uhr<br>
                <a href="https://goo.gl/maps/g3XhvCS9gpR2" target="_blank">Sporthalle II</a><br><br>
                <b>Trainer</b>: <a href="mailto:andreas@vcmuellheim.de">Andreas Albrecht</a> (<a href="tel:+491771906789">+491771906789</a>) & <a href="mailto:dominik@vcmuellheim.de">Dominik Ernst</a></p>
              <p class="description"></p>
            </div>
          </div>

        </div>
      </div>
    </section>
<!--===== #mannschaften =====-->

<!--===== Call To Action =====-->
    <section id="call-to-action">
      <div class="container">
        <div class="row">
          <div class="col-lg-9 text-center text-lg-left">
            <h3 class="cta-title">Klingt gut?</h3>
            <p class="cta-text">
              Sagen dir unsere Trainingszeiten zu? Dann komm doch einfach mal vorbei! Wir freuen uns auf dich!
            </p>
          </div>
          <div class="col-lg-3 cta-btn-container text-center">
            <a class="cta-btn align-middle scrollto" href="#kontakt">Jetzt loslegen!</a>
          </div>
        </div>

      </div>
    </section>
<!--===== #call-to-action =====-->

<!--===== News (Blog Posts) =====-->
<section id="news" class="section-bg">
    <div class="container">
        <div class="row newsposts">
      <!--===== Most Recent News Post =====-->
            {% for post in site.posts limit:1 %}
            <div class="col-lg-6">
                <div class="box wow fadeInLeft" onclick="location.href='{{ post.url }}';">
                    {% if post.thumbnail %}
                    <a class="thumbnail" href="{{ post.url }}"><div style="background-image:url({{ post.thumbnail }}), linear-gradient(rgba(54,59,64,0.9), rgba(54,98,115,0.9));"></div></a>
                    {% endif %}
                    <h4 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h4>
                    <div class="post-content"><div class="post-excerpt">{{ post.excerpt | strip_html }}</div></div>
                    <p class="post-url"><a href="{{ post.url }}" class="read-more">weiterlesen</a></p>
                </div>
            </div>
            {% endfor %}
      <!--===== Second Most Recent News Post =====-->
            {% for post in site.posts limit:3 offset:1 %}
            <div class="col-lg-6">
                <div class="box wow fadeInRight" onclick="location.href='{{ site.baseurl }}{{ post.url }}';">
                    {% if post.thumbnail %}
                    <a class="thumbnail" href="{{ post.url }}"><div style="background-image:url({{ post.thumbnail }}), linear-gradient(rgba(54,59,64,0.9), rgba(54,98,115,0.9));"></div></a>
                    {% endif %}
                    <h4 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h4>
                    <p class="post-excerpt">{{ post.excerpt }}</p>
                    <p class="post-url"><a href="{{ post.url }}" class="read-more">weiterlesen</a></p>
                </div>
            </div>
            {% endfor %}

        </div>

        <div class="cta-btn-container text-center wow fadeInUp">
          <a class="archiv-btn align-middle scrollto" href="/blog">alle Newsbeiträge</a>
        </div>
    </div>
</section>
<!--===== #news =====-->

<!--===== Sponsoren =====-->
    <section id="sponsors">
      <div class="container">

        <div class="row align-items-center wow fadeInNone">

          <div class="col-md-3">
            <h2 >Sponsoren</h2>
            <p>Wir bedanken uns herzlich bei unseren Sponsoren!</p>
          </div>
          <div class="col-">
            <a href="https://pebako.de" target="_blank" rel="sponsored nofollow noopener"><img src="/img/sponsors/sponsor_pebako.png" alt=""></a>
          </div>

          <div class="col-">
            <a href="https://messerundgradel.de" target="_blank" rel="sponsored nofollow noopener"><img src="/img/sponsors/sponsor_messerundgradel.png" alt=""></a>
          </div>

        </div>
      </div>
    </section>
<!--===== #sponsors =====-->

<!--===== Verein =====-->
    <section id="verein" class="">
      <div class="container-fluid">
        <div class="section-header">
          <h3 class="section-title">Verein</h3>
          <span class="section-divider"></span>
          <p class="section-description"></p>
        </div>

        <div class="row">
          <div class="col-lg-6 verein-img wow fadeInNone">
            <img src="/img/verein-img.jpg" alt="">
          </div>

          <div class="col-lg-6 content wow fadeInNone">
            <h2>Der Vorstand</h2>
            <ul class="memberlist">
              {% assign mitglieder = (site.club_members | sort: 'sortorder') %}
                {% for club_member in mitglieder %}
                {% if club_member.sortorder < 10 %}
                  <li><i class="ion-ios-person"></i><strong>{{ club_member.function }}:</strong>{{ club_member.name }}</li>
                {% endif %}
                {% endfor %}
            </ul>
          </div>
        </div>

      </div>
    </section>
<!--===== #verin =====-->


<!--===== Additional Content =====-->
    <section id="additional-content">

      <div class="features-row section-bg">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <img class="advanced-feature-img-left" src="/img/muellheim-stadtfest.jpg" alt="">
              <div class="wow fadeInNone">
                <h2>Müllheimer Stadtfest</h2>
                <i class="ion-bonfire wow fadeInNone" data-wow-duration="0.5s"></i>
                <p class="wow fadeInNone" data-wow-duration="0.5s">Das Müllheimer Stadtfest findet jährlich am letzten Juni-Wochenende statt.
                  Der VC Müllheim beteiligt sich seit vielen Jahren an dem Fest und bietet in seiner Laube traditionsgemäß Pfannengyros und Jägerschnitzel an.
                  Für den Auf- und Abbau der Laube sowie bei deren Betrieb benötigt der Verein die Unterstützung aller Vereinsmitglieder.
                  Durch den Erlös des Stadfestes kann der Verein sein sportliches Angebot bei niedrigen Mitgliederbeiträgen aufrecht erhalten.
                  Zur Belohnung werden die Helfer zu einem Helferfest mit vielen kulinarischen Köstlichkeiten eingeladen!<br><br>
                  Helft also mit - es lohnt sich!</p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </section>
<!--===== #additional-content =====-->

<!--===== Kontakt =====-->
    <section id="kontakt">
      <div class="container">
        <div class="row wow fadeInNone">

          <div class="col-lg-6 col-md-6">
            <div class="kontakt-verein">
              <h3>Kontakt</h3>
              <p>Zögere bitte nicht. Solltest du Fragen an uns haben, oder Interesse mit uns zu trainieren, dann melde dich bei uns!</p>
            </div>

            <div class="info">
              <div>
                <i class="ion-ios-email-outline"></i>
                <p><a href="mailto:info@vcmuellheim.de" class="mail" target="_blank">info@vcmuellheim.de</a></p>
              </div>

              <div>
                <i class="ion-ios-person-outline"></i>
                <p>Lothar Voigt<br>
                  Lettenstr. 48<br>
                  79424 Auggen<br>
                  lothar.voigt@t-online.de</p>
              </div>
            </div>
          </div>

    <!--===== Facebook Embedding =====-->
          <div id="facebook-embedding" class="col-lg-6 col-md-6">
           <div id="fb-root"></div>
             <script async defer crossorigin="anonymous" src="https://connect.facebook.net/de_DE/sdk.js#xfbml=1&version=v3.3"></script>
           <div class="fb-page" data-href="https://www.facebook.com/pg/VCMuellheim/" data-tabs="messages" data-width="500" data-height="400" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="false">
             <blockquote cite="https://www.facebook.com/pg/VCMuellheim/" class="fb-xfbml-parse-ignore">
               <a href="https://www.facebook.com/pg/VCMuellheim/">VC Müllheim</a></blockquote>
           </div>
          </div>
    <!--===== #facebook-embedding =====-->


    <!--===== Facebook Embedding =====-->



        </div>

      </div>
    </section>
<!--===== #kontakt =====-->

</main>
