---
layout: default
---
<main id="main">

<!--===== Intro =====-->
  <section id="intro" class="d-flex flex-column justify-content-center">

    <div class="intro-text">
      <img src="/img/vcm-banner-white.png" class="vcm-banner">
      <p>Willkommen beim Volleyballclub Müllheim.</p>
      <a href="#mannschaften" class="btn-get-started px-3 py-2 m-1">Mannschaften</a>
      <a href="#news" class="btn-get-started px-3 py-2 m-1">News</a>
      <a href="/tabelle/" class="btn-get-started px-3 py-2 m-1">Tabelle</a>
    </div>

    <div class="welcome-screens d-none">
      <div class="welcome-screen-1">
        <img src="/img/welcome-screen-1.jpg" alt="">
      </div>
      <div class="welcome-screen-2">
        <img src="/img/welcome-screen-2.jpg" alt="">
      </div>
      <div class="welcome-screen-3">
        <img src="/img/welcome-screen-3.jpg" alt="">
      </div>
    </div>

  </section>
<!--===== #intro =====-->


<!--===== Mannschaften =====-->
    <section id="mannschaften" class="section-bg py-5">
      <div class="container">

        <div class="section-header">
          <h3 class="section-title">Mannschaften</h3>
          <span class="section-divider"></span>
          <p class="section-description">Der VC Müllheim besteht zur Zeit aus zwei aktiven Herrenmannschaften, zwei Freizeitgruppen und einer Jugend.</p>
        </div>

        <div class="row">

          <div class="col-lg-6">
            <div class="box p-4">
              <h4 class="title">1. Herren - Verbandsliga</h4>
              <p class="description"><b>Trainingszeiten:</b><br>
                Dienstags & Donnerstags 20:00-22:00 Uhr<br>
                <a href="https://goo.gl/maps/g3XhvCS9gpR2" target="_blank" rel="noopener"><i class="fas fa-map-marker-alt"></i> Sporthalle II</a><br><br>
                <b>Trainer</b>: <a href="mailto:thomas@vcmuellheim.de">Thomas Seywald</a></p>
          <!--=====Ergebnisdienst Kalendar =====-->
                <p class="description">
                  <br><b>Saison 19/20</b>: <a href="/tabelle/">Tabelle</a>&nbsp;|&nbsp;
                  <a href="https://volleyball-ergebnisdienst.de/api/schedules/sbvv_m_1_1/vc_m_llheim/calendar.ics">Kalender</a>
                </p>
          <!--=====.ergebnisdienst =====-->
            </div>
          </div>

          <div class="col-lg-6">
            <div class="box p-4">
              <h4 class="title">2. Herren - Bezirksklasse</h4>
              <p class="description"><b>Trainingszeiten:</b><br>
                Dienstags 20:00-22:00 Uhr<br>
                <a href="https://goo.gl/maps/eAeBCM12GVk" target="_blank" rel="noopener"><i class="fas fa-map-marker-alt"></i> Rosenburgschule</a><br><br>
                <b>Trainer</b>: <a href="mailto:claudio@vcmuellheim.de">Claudio Lindemann-czak</a> & <a href="mailto:andreas@vcmuellheim.de">Andreas Albrecht</a></p>
          <!--=====Ergebnisdienst Kalendar =====-->
                <p class="description">
                  <br><b>Saison 19/20</b>: <a href="/tabelle/">Tabelle</a>&nbsp;|&nbsp;
                  <a href="https://volleyball-ergebnisdienst.de/api/schedules/sbvv_m_4_3/vc_m_llheim_2/calendar.ics">Kalender</a>
                </p>
          <!--=====.ergebnisdienst =====-->
            </div>
          </div>

          <div class="col-lg-6">
            <div class="box p-4">
              <h4 class="title">Freizeit 1</h4>
              <p class="description"><b>Trainingszeiten:</b><br>
                Montags 20:00-22:00 Uhr<br>
                <a href="https://goo.gl/maps/g3XhvCS9gpR2" target="_blank" rel="noopener"><i class="fas fa-map-marker-alt"></i> Sporthalle II</a><br><br>
                <b>Ansprechpartner</b>: <a href="mailto:kerstin@vcmuellheim.de">Kerstin Hackhausen</a> & <a href="mailto:susanne@vcmuellheim.de">Susanne Kainer</a></p>
              <p class="description"><br>Diese Gruppe besteht aus ehemaligen Spielern und Spielerinnen die auf forgeschrittenem Niveau spielen!</p>
            </div>
          </div>


          <div class="col-lg-6">
            <div class="box p-4">
              <h4 class="title">Freizeit 2</h4>
              <p class="description"><b>Trainingszeiten:</b><br>
                Donnerstags 20:00-22:00 Uhr<br>
                <a href="https://goo.gl/maps/g3XhvCS9gpR2" target="_blank" rel="noopener"><i class="fas fa-map-marker-alt"></i> Sporthalle II</a><br><br>
                <b>Ansprechpartner</b>: <a href="mailto:wolfgang@vcmuellheim.de">Wolfgang Lacher</a></p>
              <p class="description"><br>Diese gemische Gruppe begrüßt Anfänger und Fortgeschrittene gleichermaßen!</p>
            </div>
          </div>


          <div class="col-lg-6">
            <div class="box p-4">
              <h4 class="title"><a href="#kontakt">Jugend</a></h4>
              <p class="description"><b>Trainingszeiten:</b><br>
                Dienstags & Mittwochs 18:30-20:00 Uhr<br>
                <a href="https://goo.gl/maps/g3XhvCS9gpR2" target="_blank" rel="noopener"><i class="fas fa-map-marker-alt"></i> Sporthalle II</a><br><br>
                <b>Trainer</b>: <a href="mailto:andreas@vcmuellheim.de">Andreas Albrecht</a> (<a href="tel:+491771906789">+491771906789</a>) & <a href="mailto:dominik@vcmuellheim.de">Dominik Ernst</a></p>
              <p class="description"></p>
            </div>
          </div>

        </div>
      </div>
    </section>
<!--===== #mannschaften =====-->

<!--===== Call To Action =====-->
    <section id="call-to-action" class="py-5">
      <div class="container">
        <div class="row">
          <div class="col-lg-9 text-center text-lg-left">
            <h3 class="cta-title">Klingt gut?</h3>
            <p class="cta-text">
              Sagen dir unsere Trainingszeiten zu? Dann komm doch einfach mal vorbei! Wir freuen uns auf dich!
            </p>
          </div>
          <div class="col-lg-3 cta-btn-container text-center">
            <a class="cta-btn align-middle" href="#kontakt">Jetzt loslegen!</a>
          </div>
        </div>

      </div>
    </section>
<!--===== #call-to-action =====-->

<!--===== News (Blog Posts) =====-->
<section id="news" class="section-bg py-5">
    <div class="container">
      <div class="section-header">
        <h3 class="section-title">News</h3>
        <span class="section-divider"></span>
        <p class="section-description"></p>
      </div>

        <div class="row newsposts">
      <!--===== Most Recent News Post =====-->
            {% for post in site.posts limit:4 offset:0 %}
            <div class="col-lg-6">
                <div class="box" onclick="location.href='{{ post.url }}';">
                    {% if post.thumbnail == "" or post.thumbnail == nil or post.thumbnail == blank %} {% else %}
                    <a class="thumbnail" href="{{ post.url }}"><div style="background-image:url({{ post.thumbnail }}), linear-gradient(rgba(54,59,64,0.9), rgba(54,98,115,0.9));"></div></a>
                    {% endif %}
                    <h4 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h4>
                    <div class="post-content"><div class="post-excerpt {% if post.thumbnail == '' or post.thumbnail == nil or post.thumbnail == blank %} no-post-thumbnail{% endif %}">{{ post.excerpt | strip_html }}</div></div>
                    <p class="post-url"><a href="{{ post.url }}" class="read-more">... weiterlesen</a></p>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="cta-btn-container text-center">
          <a class="archiv-btn align-middle" href="/blog">alle Newsbeiträge</a>
        </div>
    </div>
</section>
<!--===== #news =====-->

<!--===== Sponsoren =====-->
    <section id="sponsors" class="newsponsors p-5">
      <div class="container">

        <div class="row align-items-center">

          <div class="col-lg-6 col-12">
            <h2 >Sponsoren</h2>
          </div>
          <div class="col-lg-6 col-12">
            <p>Wir bedanken uns herzlich bei unseren Sponsoren!</p>
          </div>
          <div class="col text-center p-2">
            <a href="https://pebako.de" target="_blank" rel="sponsored nofollow noopener"><img src="/img/sponsors/pebako.svg" alt=""></a>
          </div>

          <div class="col text-center p-2">
            <a href="https://messerundgradel.de" target="_blank" rel="sponsored nofollow noopener"><img src="/img/sponsors/messerundgradel.png" alt=""></a>
          </div>

        </div>
      </div>
    </section>
<!--===== #sponsors =====-->

<!--===== Verein =====-->
    <section id="verein" class="p-5">
      <div class="container">
        <div class="section-header">
          <h3 class="section-title">Der Vorstand</h3>
          <span class="section-divider"></span>
        </div>

        <div class="row mitgliederliste">
            {% assign mitglieder = (site.club_members | sort: 'sortorder') %}
            {% for club_member in mitglieder %}
            {% if club_member.sortorder < 10 %}
            <div class="col-md-4">
                <a class="email" {% if club_member.email %}href="mailto:{{ club_member.email }}?subject=" target="_blank"{% endif %}>
                  <div class="mitglied">
                  <div class="avatar"><div style="background-image:url({% if club_member.avatar %}{{ club_member.avatar }}{% else %}{% if club_member.facebook %}https://graph.facebook.com/{{ club_member.facebook }}/picture?type=large{% endif %}{% endif %}), linear-gradient(rgba(54,59,64,0.9), rgba(54,98,115,0.9));"></div></div>
                    <h4 class="name">{{ club_member.name }}</h4>
                    <p class="function">{{ club_member.function }}</p>
                  </div>
                </a>
            </div>
            {% endif %}
            {% endfor %}

        </div>

      </div>
    </section>
<!--===== #verein =====-->


<!--===== Stadtfest =====-->
    <section id="stadtfest">
      <div class="container section-bg">
          <div class="row no-gutter row-cols-1 row-cols-lg-2">
            <div class="col p-0">
              <div class="stadtfest-image">
              </div>
            </div>
            <div class="col p-4">
              <h2>Müllheimer Stadtfest</h2>
              <p>Das Müllheimer Stadtfest findet jährlich am letzten Juni-Wochenende statt.
                Der VC Müllheim beteiligt sich seit vielen Jahren an dem Fest und bietet in seiner Laube traditionsgemäß Pfannengyros und Jägerschnitzel an.
                Für den Auf- und Abbau der Laube sowie bei deren Betrieb benötigt der Verein die Unterstützung aller Vereinsmitglieder.
                Durch den Erlös des Stadfestes kann der Verein sein sportliches Angebot bei niedrigen Mitgliederbeiträgen aufrecht erhalten.
                Zur Belohnung werden die Helfer zu einem Helferfest mit vielen kulinarischen Köstlichkeiten eingeladen!<br><br>
                Helft also mit - es lohnt sich!
              </p>
            </div>
        </div>
      </div>

    </section>
<!--===== #additional-content =====-->

<!--===== Kontakt =====-->
    <section id="kontakt">
      <div class="container py-5">
        <div class="section-header">
          <h3 class="section-title">Kontakt</h3>
          <span class="section-divider"></span>
          <p class="section-description">Zögere bitte nicht. Solltest du Fragen an uns haben, oder Interesse mit uns zu trainieren, dann melde dich bei uns!</p>
        </div>

        <div class="row no-gutter row-cols-1 row-cols-md-2">
            <div class="contact-info col text-center text-md-right">
              <div class="facebook mb-2">
                <a href="http://m.me/VCMuellheim/" rel="nofollow noopener" target="_blank"><i class="fab fa-facebook-messenger"></i> Facebook Messenger</a>
              </div>
              <div class="email mb-2">
                <a href="mailto:info@vcmuellheim.de" class="mail" target="_blank"><i class="fas fa-envelope"></i> info@vcmuellheim.de</a>
              </div>
            </div>

            <div class="contact-info col text-center text-md-left">
              <div class="physical mb-2">
                Volleyballclub Müllheim e.V.<br>
                Lothar Voigt<br>
                Lettenstr. 48<br>
                79424 Auggen<br>
                lothar.voigt@t-online.de
              </div>
            </div>
        </div>
      </div>
    </section>
<!--===== #kontakt =====-->

</main>
