<!--===== Beachvolleyball =====-->
    <section id="beachvolleyball">
      <div class="container section-bg">
          <div class="row no-gutter row-cols-1 row-cols-lg-2">
            <div class="col p-0">
              <div class="beachvolleyball-image">
              </div>
            </div>
            <div class="col p-4">
              <h2>Beachvolleyball in Britzingen</h2>
              <p><b>Z'mitts drin</b> heißt die Initiative für die Umgestaltung des aktuell noch brach liegenden Sportplatzes in Britzingen. (<a href="https://goo.gl/maps/tyCLHFtuMeJaGboi7" target="_blank" rel="nofollow">Karte anzeigen</a>)</p>
              <p>Geplant ist den Platz in Britzingen für unterschiedliche Freizeitangebote vorzubereiten, von Fußballplatz, Abenteuerspielplatz, Booulebahn bis hin zu einer Beachvolleyball Anlage. Der VC Müllheim hat eine Kooperation mit dem <a href="https://tv-britzingen.beepworld.de/" target="_blank">TV Britzingen</a> geschlossen. Gemeinsam möchten wir mit vereinten Kräften den Umbau des Sportplatzes vorrantreiben.</p>
              <p>Wir haben bereits für ausreichend Man- und Frauenpower gesorgt, jedoch lässt sich damit alleine das Projekt noch nicht stemmen. Es fallen natürlich auch Kosten an. Wenn du uns bei der Umsetzung der Freizeitanlage unterstützen möchtest, würden wir uns über eine Finanzielle Unterstützung freuen. <b>Hilf auch mit und spende!</b></p>
              <p><a href="http://zmittsdrin.de/" target="_blank" class="generic-button text-center">Details & Spendenkonto</a></p>
            </div>
        </div>
      </div>

    </section>
