<!--===== Beachvolleyball =====-->
    <section id="beachvolleyball">
      <div class="container section-bg">
          <div class="row no-gutter row-cols-1 row-cols-lg-2">
            <div class="col p-0">
              <div class="beachvolleyball-image">
              </div>
            </div>
            <div class="col p-4">
              <h2>Z'mitts drin</h2>
              <p>Für die Umgestaltung unseres Sportplatzes in den neuen öffentlichen Freizeittreffpunkt "Z'mitts drin" brauchen wir Eure Ünterstützung!

Mit einer Spende werden wir eine besondere Begegnungsstätte für Groß und Klein entstehen lassen.
              </p>
            </div>
        </div>
      </div>

    </section>
