<section id="heimspiele" class="cover-img-bg py-5">
  <div class="container">

      <div class="col-12 text-center text-lg-start">
        <h3 class="cta-title fw-bold">Keine Heimspiele</h3>
        <p class="cta-text mb-1">
          In den nächsten <strong>30 Tagen</strong> stehen keine Heimspiele in Müllheim bevor.
          <span class="d-none d-lg-inline"><br></span>
          Auswärtsspiele und Spiele zu einem späteren Zeitpunkt, findest du im Spielplan der jeweiligen Mannschaft.
          <span class="d-none d-lg-inline"><br></span>
          Schaue gerne später noch einmal vorbei und <a class="text-white fw-bold" type="text/calendar" href="webcal://vcmuellheim.de/ics/all.ics">abboniere unseren Kalender</a>.
        </p>
      </div>
      <div class="row">
      </div>
  </div>
</section>
