<section id="corona-und-sport" class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-12 text-left">
        <h3 class="cta-title">Corona & Sport</h3>
        <p><strong>5. Dezember 2021:</strong> Wettkämpfe fallen kurzfristig aus, die Saison läuft aber weiter. Wir bemühen uns den Trainingsbetrieb mit 2G+ aufrecht zu erhalten.</p>
        <p><strong>17. November 2021:</strong> Es gilt die 2G Regel (geimpft oder genesen) für den Vereinssport. Keine Befreiung über einen Test jeglicher Art. Ausnahmen für Kinder unter 18 Jahren und Schüler bleiben bestehen wie zuvor.</p>
      </div>
      <div class="col-12 text-left sources">
        <p>Vom Ministerium für Wirtschaft, Arbeit und Tourismus Baden-Württemberg:</p>
        <p><a href="https://www.baden-wuerttemberg.de/de/service/aktuelle-infos-zu-corona/" target="_blank" rel="noopener">Aktuelle Infos zu Corona</a></p>
        <p><a href="https://www.baden-wuerttemberg.de/fileadmin/redaktion/dateien/PDF/Coronainfos/ZZ_Corona_Regeln_Auf_einen_Blick_DE.pdf" target="_blank" rel="noopener">Übersicht der aktuellen Corona-Regelungen in den einzelnen Bereichen (PDF)</a></p>
      </div>
    </div>

  </div>
</section>
