<section id="heimspiele" class="py-5">
  <div class="container">
    <div class="row">
      
      <div class="col-12 text-center text-lg-start">
        <h3 class="cta-title">Wir laden ein zum Heimspiel!</h3>
        <p class="cta-text">
          In den kommenden Tagen spielen wir in Müllheim und freuen uns über jeden Zuschauer!
        </p>
      </div>

      {% for match in site.heimspiele %}
        {% assign patchstring = match.date | append: match.location_name | append: match.location_street %}

        {% unless heimspiel_liste contains patchstring %}
            {% assign heimspiel_liste = heimspiel_liste | append: ' ' | append: patchstring %}
            {% assign gmaps_url = 'https://www.google.com/maps/search/?api=1&query=' | append: match.location_name | append: ',' | append: match.location_street | append: ',' | append: match.location_postal | append: ' ' | append: match.location_city %}

            <div class="col-12">
              <h4 class="mt-2 mb-0">{{ match.date }} <a href="{{ gmaps_url | url_encode }}" target="_blank">{{ match.location_name }}</a></h4>
            </div>
        {% endunless %}

            <div class="col-6">
              <p class="mb-1 pe-2">{{ match.league }} ab {{ match.time }}<br>
                Gast: {{ match.opponent }}</p>
            </div>

        {% endfor %}


    </div>

  </div>
</section>