<section id="corona-und-sport" class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-12 text-start">
        <h3 class="cta-title">Corona & Sport</h3>
        <p class="m-0">Aktuell gibt es keine Einschränkungen.</p>
      </div>
      <div class="col-12 text-start pt-3 sources">
        <p>Vom Ministerium für Wirtschaft, Arbeit und Tourismus Baden-Württemberg:</p>
        <ul>
          <li><a href="https://www.baden-wuerttemberg.de/de/service/aktuelle-infos-zu-corona/" target="_blank"
              rel="noopener">Aktuelle Infos zu Corona</a></li>
          <li><a
              href="https://www.baden-wuerttemberg.de/fileadmin/redaktion/dateien/PDF/Coronainfos/ZZ_Corona_Regeln_Auf_einen_Blick_DE.pdf"
              target="_blank" rel="noopener">Übersicht der aktuellen Corona-Regelungen in den einzelnen Bereichen
              (PDF)</a></li>
        </ul>
      </div>
    </div>

  </div>
</section>