<section id="corona-und-sport" class="cover-img-bg py-5">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h3 class="cta-title">Corona & Sport</h3>
        <p>Vom Ministerium für Wirtschaft, Arbeit und Tourismus Baden-Württemberg:</p>
        <a class="cta-btn align-middle" href="https://www.baden-wuerttemberg.de/fileadmin/redaktion/dateien/PDF/Coronainfos/ZZ_Corona_Regeln_Auf_einen_Blick_DE.pdf"
          target="_blank" rel="noopener">Aktuelle Verordnung</a>
      </div>
    </div>

  </div>
</section>