<section id="intro" class="d-flex flex-column justify-content-center">

  <div class="intro-text">
    <img src="/img/vcm-banner-white.png" class="vcm-banner">
    <p>Willkommen beim Volleyballclub Müllheim.</p>
    <div class="quicklinks d-flex flex-row justify-content-center">
      <a href="#mannschaften" class="btn-get-started px-3 py-2 m-1">Mannschaften</a>
      <a href="#news" class="btn-get-started px-3 py-2 m-1">News</a>
      <a href="/tabelle/" class="btn-get-started px-3 py-2 m-1">Tabelle</a>
    </div>
  </div>

  <div class="intro-sponsor d-flex flex-row justify-content-center">
    <div class="text py-2 px-3 d-flex align-items-center text-right">
      <span>Unterstützt durch </span>
    </div>
    <div class="logo py-2 px-3">
      <a class="d-block" href="https://degen-gmbh.com" target="_blank" rel="sponsored nofollow noopener"><img src="/img/sponsors/degen_gmbh.svg"></a>
    </div>
  </div>

</section>
