<section id="intro" class="cover-img-bg d-flex flex-column justify-content-between random">

  <div class="d-flex flex-column justify-content-center pt-2 pb-5 mb-5">
    <div class="welcome text-center m-0 mt-2"><h5 class="fw-bold">Willkommen beim</h5></div>
    
    <div class="vcm-banner text-center"><img src="/img/vcm-banner-white.png"></div>
    
    <div class="nav-link text-center mt-3"><div class="d-inline-flex justify-content-center flex-sm-row flex-column">
      <a href="#news" class="btn-quicklinks px-3 py-2 m-1 rounded-pill">News</a>
      <a href="#mannschaften" class="btn-quicklinks px-3 py-2 m-1 rounded-pill">Mannschaften</a>
      <a href="/tabelle/" class="btn-quicklinks px-3 py-2 m-1 rounded-pill">Tabelle</a>
      <a href="https://vcmuellheim.fan12.de" class="btn-quicklinks px-3 py-2 m-1 rounded-pill" target="_blank" rel="nofollow noopener">Shop</a>
    </div></div>
  </div>

  <div class="intro-sponsor w-100 d-flex flex-row flex-nowrap justify-content-center">
      <p class="py-2 px-3 m-0">
        <span class="pr-1 pr-sm-2">Unterstützt durch</span>
        <a href="https://degen-gmbh.com" target="_blank" rel="sponsored nofollow noopener">
          <img src="/img/sponsors/degen_gmbh.png">
        </a>
      </p>
  </div>

</section>
