<!--===== Stadtfest =====-->
    <section id="stadtfest" class="py-4">
      <div class="container section-bg">
          <div class="row no-gutter row-cols-1 row-cols-lg-2">
            <div class="col p-0">
              <div class="stadtfest-image">
              </div>
            </div>
            <div class="col p-4">
              <h2>Müllheimer Stadtfest</h2>
              <p>Das Müllheimer Stadtfest findet jährlich am letzten Juni-Wochenende statt.
                Der VC Müllheim beteiligt sich seit vielen Jahren an dem Fest und bietet in seiner Laube traditionsgemäß Pfannengyros und Jägerschnitzel an.
                Für den Auf- und Abbau der Laube sowie bei deren Betrieb benötigt der Verein die Unterstützung aller Vereinsmitglieder.
                Durch den Erlös des Stadtfestes kann der Verein sein sportliches Angebot bei niedrigen Mitgliedsbeiträgen aufrechterhalten.
                Zur Belohnung werden die Helfer zu einem Helferfest mit vielen kulinarischen Köstlichkeiten eingeladen!<br><br>
                Helft also mit - es lohnt sich!
              </p>
            </div>
        </div>
      </div>

    </section>
