<section id="news" class="section-bg py-5">
    <div class="container">
      <div class="section-header">
        <h3 class="section-title">News</h3>
        <span class="section-divider"></span>
        <p class="section-description"></p>
      </div>

        <div class="row newsposts">
      <!--===== Most Recent News Post =====-->
            {% for post in site.posts limit:4 offset:0 %}
            <div class="col-lg-6 d-flex">
                <div class="box w-100" onclick="location.href='{{ post.url }}';">
                    {% if post.thumbnail.size > 0 %}
                      {% assign thisThumbnail = post.thumbnail %}
                    {% elsif post.gallery[0].size > 0%}
                      {% assign randomGalleryItem = site.time | date: "%N" | modulo: post.gallery.size | plus: 0 %}
                      {% assign thisThumbnail = post.gallery[randomGalleryItem] %}
                    {% else%}
                      {% assign thisThumbnail = nil %}
                    {% endif %}

                    {% if thisThumbnail.size > 0 %}
                    {% assign processed_thumbnail = thisThumbnail | replace: "/upload/", "/thumbnails/news/" %}
                      {% assign thumbnail_exist = false %}
                      {% for file in site.static_files %}
                        {% if file.path == processed_thumbnail %}
                          {% assign thumbnail_exist = true %}
                        {% endif %}
                      {% endfor %}
                    {% if thumbnail_exist %}
                    <a class="thumbnail" href="{{ post.url }}"><div style="background-image:url({{ processed_thumbnail }});"></div></a>
                    {% else %}
                    <a class="thumbnail" href="{{ post.url }}"><div style="background-image:url({{ thisThumbnail }});"></div></a>
                    {% endif %}
                    {% assign thumbnail_exist = false %}
                    {% endif %}
                    <h4 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h4>
                    <div class="post-content"><div class="post-excerpt {% if thisThumbnail == '' or thisThumbnail == nil or thisThumbnail == blank %} no-post-thumbnail{% endif %}">{{ post.content | strip_html }}</div></div>
                    <p class="post-url"><a href="{{ post.url }}" class="read-more missing-webkit-line-clamp">... weiterlesen</a></p>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="cta-btn-container text-center">
          <a class="archiv-btn generic-button align-middle py-2 px-3" href="/blog/">alle Newsbeiträge</a>
        </div>
    </div>
</section>
