<section id="intro" class="d-flex flex-column justify-content-center">

  <div class="intro-text">
    <img src="/img/vcm-banner-white.png" class="vcm-banner">
    <p>Willkommen beim Volleyballclub Müllheim.</p>
    <a href="#mannschaften" class="btn-get-started px-3 py-2 m-1">Mannschaften</a>
    <a href="#news" class="btn-get-started px-3 py-2 m-1">News</a>
    <a href="/tabelle/" class="btn-get-started px-3 py-2 m-1">Tabelle</a>
  </div>

  <div class="intro-sponsor">
    <span>Unterstützt durch </span>
    <a href="https://degen-gmbh.com" target="_blank" rel="sponsored nofollow noopener"><img src="/img/sponsors/degen_gmbh.svg"></a>
  </div>

</section>
