<section id="mannschaften" class="section-bg py-5">
  <div class="container">

    <div class="section-header">
      <h3 class="section-title">Mannschaften</h3>
      <span class="section-divider"></span>
      <p class="section-description">Der VC Müllheim besteht zur Zeit aus folgenden Mannschaften:</p>
    </div>

    <div class="row teams">

      <div class="col-lg-6">
        <div class="box p-4">
          <h4 class="title">Damen - Kreisklasse</h4>
          <p class="description"><b>Trainingszeiten:</b><br>
            Dienstags & Mittwochs 18:30-20:00 Uhr<br>
            <a href="https://goo.gl/maps/g3XhvCS9gpR2" target="_blank" rel="noopener"><i class="fas fa-map-marker-alt"></i> Sporthalle II</a><br><br>
            <b>Trainer</b>: <a href="mailto:dominik@vcmuellheim.de">Dominik Ernst</a></p>
            <p class="description">
              <br><b>Saison 2021</b>: <a href="/tabelle/">Tabelle</a>
            </p>
        </div>
      </div>


      <div class="col-lg-6">
        <div class="box p-4">
          <h4 class="title">1. Herren - Verbandsliga</h4>
          <p class="description"><b>Trainingszeiten:</b><br>
            Dienstags & Donnerstags 20:00-22:00 Uhr<br>
            <a href="https://goo.gl/maps/g3XhvCS9gpR2" target="_blank" rel="noopener"><i class="fas fa-map-marker-alt"></i> Sporthalle II</a><br><br>
            <b>Trainer</b>: <a href="mailto:thomas@vcmuellheim.de">Thomas Seywald</a></p>
            <p class="description">
              <br><b>Saison 2021</b>: <a href="/tabelle/">Tabelle</a>
            </p>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="box p-4">
          <h4 class="title">2. Herren - Bezirksklasse</h4>
          <p class="description"><b>Trainingszeiten:</b><br>
            Dienstags 20:00-22:00 Uhr<br>
            <a href="https://goo.gl/maps/eAeBCM12GVk" target="_blank" rel="noopener"><i class="fas fa-map-marker-alt"></i> Rosenburgschule</a><br><br>
            <b>Trainer</b>: <a href="mailto:claudio@vcmuellheim.de">Claudio Lindemann-czak</a> & <a href="mailto:andreas@vcmuellheim.de">Andreas Albrecht</a></p>
            <p class="description">
              <br><b>Saison 2020/21</b>: <a href="/tabelle/">Tabelle</a>
            </p>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="box p-4">
          <h4 class="title">Jugend (Jungs)</h4>
          <p class="description"><b>Trainingszeiten:</b><br>
            Dienstags & Donnerstags 18:30-20:00 Uhr<br>
            <a href="https://goo.gl/maps/g3XhvCS9gpR2" target="_blank" rel="noopener"><i class="fas fa-map-marker-alt"></i> Sporthalle II</a><br><br>
            <b>Trainer</b>: <a href="mailto:andreas@vcmuellheim.de">Andreas Albrecht</a> (<a href="tel:+491771906789">+491771906789</a>) & <a href="mailto:dominik@vcmuellheim.de">Dominik Ernst</a></p>
          <p class="description"></p>
        </div>
      </div>

      
      <div class="col-lg-6">
        <div class="box p-4">
          <h4 class="title">Jugend (Mädchen)</h4>
          <p class="description"><b>Trainingszeiten:</b><br>
            Dienstags 18:30-20:00 Uhr<br>
            <a href="https://goo.gl/maps/g3XhvCS9gpR2" target="_blank" rel="noopener"><i class="fas fa-map-marker-alt"></i> Sporthalle II</a><br><br>
            <b>Trainer</b>: <a href="mailto:dominik@vcmuellheim.de">Dominik Ernst</a></p>
          <p class="description"></p>
        </div>
      </div>
      
      <div class="col-lg-6">
        <div class="box p-4">
          <h4 class="title">Freizeit 1</h4>
          <p class="description"><b>Trainingszeiten:</b><br>
            Montags 20:00-22:00 Uhr<br>
            <a href="https://goo.gl/maps/g3XhvCS9gpR2" target="_blank" rel="noopener"><i class="fas fa-map-marker-alt"></i> Sporthalle II</a><br><br>
            <b>Ansprechpartner</b>: <a href="mailto:kerstin@vcmuellheim.de">Kerstin Hackhausen</a> & <a href="mailto:susanne@vcmuellheim.de">Susanne Kainer</a></p>
          <p class="description"><br>Diese Gruppe besteht aus ehemaligen Spielern und Spielerinnen die auf forgeschrittenem Niveau spielen!</p>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="box p-4">
          <h4 class="title">Freizeit 2</h4>
          <p class="description"><b>Trainingszeiten:</b><br>
            Donnerstags 20:00-22:00 Uhr<br>
            <a href="https://goo.gl/maps/g3XhvCS9gpR2" target="_blank" rel="noopener"><i class="fas fa-map-marker-alt"></i> Sporthalle II</a><br><br>
            <b>Ansprechpartner</b>: <a href="mailto:wolfgang@vcmuellheim.de">Wolfgang Lacher</a></p>
          <p class="description"><br>Diese gemische Gruppe begrüßt Anfänger und Fortgeschrittene gleichermaßen!</p>
        </div>
      </div>

    </div>
  </div>
</section>
