<section id="kontakt">
  <div class="container py-5 px-3 px-lg-5">
    <div class="section-header">
      <h3 class="section-title">Kontakt</h3>
      <span class="section-divider"></span>
      <p class="section-description mb-0">Zögere bitte nicht. Solltest du Fragen an uns haben, oder Interesse mit uns zu
        trainieren, dann melde dich bei uns!</p>
    </div>

    <div class="fragen row px-lg-5">

      <div class="col-lg-6 col-12 text-center mb-4 pb-4">
        <h6 class="fw-bold mb-1">Hast du Interesse an einem Probetrainung?</h6>
        <span>Melde dich bitte beim jeweiligen Trainer oder Ansprechperson der Mannschaft (<a href="#mannschaften">siehe
            oben</a>)</span>
      </div>

      <div class="col-lg-6 col-12 text-center mb-4 pb-4">
        <h6 class="fw-bold mb-1">Möchtest du dem Verein beitreten?</h6>
        <span>Hier gehts zur <a href="/beitragsordnung/" class="text-nowrap">Beitragsordnung</a> und hier zum <a href="https://vcmuellheim.de/docs/anmeldeformular.pdf" download="" class="text-nowrap"><i class="fa-solid fa-file-pdf"></i> Anmeldeformular</a></span>
      </div>

      <div class="col-lg-6 col-12 text-center mb-4 pb-4">
        <h6 class="fw-bold mb-1">Hast du Fragen zu deiner Mitgliedschaft?</h6>
        <span>Melde dich bitte direkt bei Paul Morawietz<br>
          <a class="email text-nowrap" href="mailto:mitgliedschaft@vcmuellheim.de?subject=Volleyball Club Müllheim"
            target="_blank"><i class="fa-solid fa-envelope"></i> mitgliedschaft@vcmuellheim.de</a></span>
      </div>

      <div class="col-lg-6 col-12 text-center mb-4 pb-4">
        <h6 class="fw-bold mb-1">Hast du Fragen zu deiner Beitragszahlung?</h6>
        <span>Melde dich bitte direkt bei Peter Müssig<br>
          <a class="email text-nowrap" href="mailto:kassier@vcmuellheim.de?subject=Volleyball Club Müllheim" target="_blank"><i
              class="fa-solid fa-envelope"></i> kassier@vcmuellheim.de</a></span>
      </div>

      <div class="col-lg-6 col-12 text-center mb-4 pb-4">
        <h6 class="fw-bold mb-1">Möchtest du Spesen abrechnen?</h6>
        <span>Hier findest du die <a href="https://vcmuellheim.de/docs/spesenabrechnung.xlsx" download="" class="text-nowrap"><i class="fa-solid fa-file-excel"></i>
          Spesenabrechnung</a> und <a href="https://vcmuellheim.de/docs/trainerverguetung.xlsx" download="" class="text-nowrap"><i class="fa-solid fa-file-excel"></i>
            Trainervergütung</a></span>
      </div>

      <div class="col-lg-6 col-12 text-center mb-4 pb-4">
        <h6 class="fw-bold mb-1">Für alle weiteren Anliegen:</h6>
        <span>Nutze gerne unseren Mailverteiler </span>
        <span><a href="mailto:info@vcmuellheim.de" class="mail text-nowrap" target="_blank"><i class="fa-solid fa-envelope"></i>
            info@vcmuellheim.de</a></span>
      </div>

    </div>


  </div>
</section>
