
<section id="mannschaften" class="section-bg py-5">
  <div class="container">

    <div class="section-header">
      <h3 class="section-title">Mannschaften</h3>
      <span class="section-divider"></span>
      <p class="section-description">Der VC Müllheim besteht zur Zeit aus folgenden Mannschaften:</p>
    </div>

    <div class="row teams">

   {% assign sorted-teams = (site.teams | sort: 'liga') %}
   {% for team in sorted-teams %}
      <div class="col-lg-6">
        <div class="box p-4">

<!-- Team Name -->
        <h4 class="title">{{ team.name }}
          {% unless team.liga contains "99" %}
            - {{ team.liga | slice: 4, 99   }}
          {% endunless %}
        </h4>

<!-- Altersangabe  -->
              {% if team.alter == "" or team.alter == nil or team.alter == blank %}
                {% else %}
                <p class="alter"> <b>Alter:</b> {{ team.alter }}</p>
              {% endif %}

<!-- Trainingszeiten -->
          <p class="trainingszeiten"><b>Trainingszeiten:</b><br>{{ team.trainings-zeit1 }}<br>
            <a href="{{ team.trainings-map1 }}" target="_blank" rel="noopener"><i class="fas fa-map-marker-alt"></i> {{ team.trainings-ort1 }}</a>

            {% if team.trainings-zeit2 == "" or team.trainings-zeit2 == nil or team.trainings-zeit2 == blank %}{% else %}
              <br>{{ team.trainings-zeit2 }}<br>
              <a href="{{ team.trainings-map2 }}" target="_blank" rel="noopener"><i class="fas fa-map-marker-alt"></i> {{ team.trainings-ort2 }}</a><br>
            {% endif %}
          </p>

<!-- Trainer 1 -->
            {% if team.trainer-name1 %}
              <p class="trainer"><b>Trainer</b>:
              {% if team.trainer-email1 contains "@" %}<a href="mailto:{{ team.trainer-email1 }}?subject={{ site.title }} - {{ team.name }}"><i class="fas fa-envelope" aria-hidden="true"></i> {{ team.trainer-name1 }}</a>{% else %}{{ team.trainer-name1 }}
              {% endif %}

<!-- Trainer 2 -->
                {% if team.trainer-name2 == "" or team.trainer-name2 == nil or team.trainer-name2 == blank %}{% else %} &
                  {% if team.trainer-email2  contains "@" %}<a href="mailto:{{ team.trainer-email2 }}?subject={{ site.title }} - {{ team.name }}">{{ team.trainer-name2 }}</a>{% else %}{{ team.trainer-name2 }}
                  {% endif %}
                {% endif %}
              </p>
            {% endif %}


<!-- Spielplan & Kalender  -->
              {% if team.sbvv_id > 0 %}
                <p class="spielplan"><b>Spielplan</b>: <a href="https://www.sbvv-online.de/popup/matchSeries/teamDetails.xhtml?hideHistoryBackButton=true&teamId={{ team.sbvv_id }}" target="_blank" rel="noopener">Termine</a> | <a href="https://www.sbvv-online.de/iCal/team/matches.ical?teamId={{ team.sbvv_id }}" target="_blank" rel="noopener">iCal-Export</a>
              {% endif %}

<!-- Kommentar  -->
              {% unless team.kommentar == "" or team.kommentar == nil or team.kommentar == blank %}
                <p class="description">{{ team.kommentar }}</p>
              {% endunless %}


        </div>
      </div>

  {% endfor %}


    </div>
  </div>
</section>
