{% if site.heimspiele.size > 0 %}
<section id="heimspiele" class="cover-img-bg py-5">
  <div class="container">

      <div class="col-12 text-center text-lg-start">
        <h3 class="cta-title">Wir laden ein zum Heimspiel!</h3>
        <p class="cta-text mb-1">
          In den kommenden Tagen spielen wir in Müllheim und freuen uns über jeden Zuschauer!
        </p>
      </div>
      <div class="row">
      {% assign heimspiele_sortiert = site.heimspiele | sort: 'datetime' %}

      {% assign heimspiel_Section = '0' %}
      {% assign heimspiel_LeagueDateLocation = '0' %}
      {% assign heimspiel_Opponent = '0' %}
        <!--
          close section if:
          - section id is different from whats temporarily stored in heimspiel_Section
          - but not 0
          new section if:
          - section id is different from whats temporarily stored in heimspiel_Section
        -->
      {% for match in heimspiele_sortiert%}
        {% assign patch_SectionID = match.date | append: match.location_name | append: match.location_street %}
        {% assign patch_LeagueDateLocation = match.league | append: match.league | append: match.date | append: match.location_street %}
        {% assign patch_Opponent = match.league | append: match.league | append: match.date | append: match.location_street | append: match.opponent %}

          {% unless heimspiel_Section contains patch_SectionID or heimspiel_Section == '0' %}
            </div></div>
          {% endunless %}
        
          {% unless heimspiel_Section contains patch_SectionID %}
              {% assign heimspiel_Section = heimspiel_Section | append: patch_SectionID %}
              {% assign gmaps_query = match.location_name | append: ',' | append: match.location_street | append: ',' | append: match.location_postal | append: ' ' | append: match.location_city %}

              <div class="col-12 col-lg-6 my-4"><div class="box dark p-4 m-0 h-100">
                <h4 class="m-0">{{ match.date | date: "%d.%m" }}<span>{{ match.date | date: ".%Y" }}</span><a class="ms-3 small" href="https://www.google.com/maps/search/?api=1&query={{ gmaps_query | url_encode }}" target="_blank" rel="noopener"><i class="fa-solid fa-map-marker-alt pe-2"></i>{{ match.location_name }}<span class="d-none d-xl-inline">, {{ match.location_street }}</span></a></h4>
              
          {% endunless %}

          {% unless heimspiel_LeagueDateLocation contains patch_LeagueDateLocation %}
            <p class="mt-2 mb-0 pe-2"><strong>{{ match.league }}{% unless match.time == "00:00" %} ab {{ match.time }} Uhr{% endunless %}</strong></p>
          {% endunless %}
          {% assign heimspiel_LeagueDateLocation = heimspiel_LeagueDateLocation | append: patch_LeagueDateLocation %}

          {% unless heimspiel_Opponent contains patch_Opponent %}
            <p class="ms-5 mb-0 opacity-75">Gast: {{ match.opponent }}</p>
          {% endunless %}
          {% assign heimspiel_Opponent = heimspiel_Opponent | append: patch_Opponent %}

        {% endfor %}
      </div>
  </div>
</section>

{% else %} <!-- fallback to always have a visual seperator between sections on the homepage -->
{% include home-heimspiele-keine.html %}
{% endif %}
