<section id="kontakt">
  <div class="container py-5">
    <div class="section-header">
      <h3 class="section-title">Kontakt</h3>
      <span class="section-divider"></span>
      <p class="section-description mb-0">Zögere bitte nicht. Solltest du Fragen an uns haben, oder Interesse mit uns zu trainieren, dann melde dich bei uns!</p>
    </div>

    <div class="fragen row">

      <div class="col-lg-6 col-12 text-center mb-2 pb-3">
        <h5 class="mb-1">Hast du Fragen zu deiner Mitgliedschaft?</h5>
        <span>Melde dich bitte direkt bei Renate Kleinbub<br>
          <a class="email" href="mailto:mitgliederverwaltung@vcmuellheim.de?subject=Volleyball Club Müllheim" target="_blank"><i class="fas fa-envelope"></i> mitgliederverwaltung@vcmuellheim.de</a></span>
      </div>

      <div class="col-lg-6 col-12 text-center mb-2 pb-3">
        <h5 class="mb-1">Hast du Fragen zu deiner Beitragszahlung?</h5>
        <span>Melde dich bitte direkt bei Peter Müssig<br>
          <a class="email" href="mailto:kassier@vcmuellheim.de?subject=Volleyball Club Müllheim" target="_blank"><i class="fas fa-envelope"></i> kassier@vcmuellheim.de</a></span>
      </div>

      <div class="col-lg-6 col-12 text-center mb-2 pb-3">
        <h5 class="mb-1">Hast du Interesse an einem Probetrainung?</h5>
        <span>Melde dich bitte beim jeweiligen Trainer oder Ansprechperson der Mannschaft (<a href="#mannschaften">siehe oben</a>)</span>
      </div>

      <div class="col-lg-6 col-12 text-center mb-2 pb-3">
        <h5 class="mb-1">Möchtest du dem Verein beitreten?</h5>
        <span><a href="https://vcmuellheim.de/docs/aufnahmeform.pdf" download=""><i class="fas fa-file-pdf"></i>Aufnahmeformular laden</a></span>
      </div>

      <div class="col-lg-6 col-12 text-center mb-2 pb-3">
        <h5 class="mb-1">Bei allen anderen Anliegen:</h5>
        <span><a href="mailto:info@vcmuellheim.de" class="mail" target="_blank"><i class="fas fa-envelope"></i> info@vcmuellheim.de</a></span><br>
        <span><a href="http://m.me/VCMuellheim/" class="facebook" target="_blank" rel="nofollow noopener"><i class="fab fa-facebook-messenger"></i> Facebook Messenger</a></span>
      </div>

    </div>


  </div>
</section>
