<section id="verein" class="p-5">
  <div class="container">
    <div class="section-header">
      <h3 class="section-title">Vorstand & Vereinsämter</h3>
      <span class="section-divider"></span>
    </div>

    <div class="row mitgliederliste">
        {% assign mitglieder = (site.club_members | sort: 'sortorder') %}
        {% for club_member in mitglieder %}
        {% if club_member.sortorder < 10 %}
        <div class="col-md-4">
            <a class="email" {% if club_member.email %}href="mailto:{{ club_member.email }}?subject=" target="_blank"{% endif %}>
              <div class="mitglied">
              <div class="avatar"><div style="background-image:url({% if club_member.avatar %}{{ club_member.avatar }}{% endif %}), linear-gradient(rgba(54,59,64,0.9), rgba(54,98,115,0.9));"></div></div>
                <h4 class="name">{{ club_member.name }}</h4>
                <p class="function">{{ club_member.function }}</p>
              </div>
            </a>
        </div>
        {% endif %}
        {% endfor %}

    </div>

  </div>
</section>
