{% if site.announcements.size > 0 %}
{% for announcement in site.announcements %}
  {% unless announcement.end < site.time %}
    {% assign open_announcement = true %}
  {% endunless %}
{% endfor %}
{% if open_announcement == true %}
<section id="announcements" class="section-bg p-4">
  <div class="container text-center">
    {% assign sorted-announcements = (site.announcements | sort: 'date') %}
    {% for announcement in sorted-announcements %}
      {% unless announcement.end < site.time %}
        {{ announcement.content }}
      {% endunless %}
    {% endfor %}
  </div>
</section>
{% endif %}
{% endif %}