{% assign foto_list = '' %}
{% assign galleryfolder = '/upload/' %}
{% assign thumbnailfolder = '/thumbnails/gallery/' %}

{% for file in site.static_files %}
  {% if file.path contains thumbnailfolder %}
    {% assign low_extname = file.extname | downcase  %}
    {% if low_extname == '.jpg' or low_extname == '.jpeg' or low_extname == '.png' %}
      {% assign foto_counter = foto_counter | plus: 1 %}
      {% assign foto_list = foto_list | append: file.path | append: '#' %}
    {% endif %}
  {% endif %}
{% endfor %}

{% unless foto_counter %}
  {% for file in site.static_files %}
      {% if file.path contains galleryfolder %}
          {% assign low_extname = file.extname | downcase  %}
          {% if low_extname == '.jpg' or low_extname == '.jpeg' or low_extname == '.png' %}
              {% assign foto_counter = foto_counter | plus: 1 %}
              {% assign foto_list = foto_list | append: file.path | append: '#' %}
          {% endif %}
      {% endif %}
  {% endfor %}
{% endunless %}
{% assign foto_list = foto_list | split: '#' %}
{% assign rnd_foto0 = "now" | date: "%N" | modulo: foto_counter | plus: 1 %}
{% assign rnd_foto1 = "now" | date: "%N" | modulo: foto_counter | plus: 1 %}
{% assign rnd_foto2 = "now" | date: "%N" | modulo: foto_counter | plus: 1 %}
{% assign rnd_foto3 = "now" | date: "%N" | modulo: foto_counter | plus: 1 %}
{% assign rnd_foto4 = "now" | date: "%N" | modulo: foto_counter | plus: 1 %}
{% assign rnd_foto5 = "now" | date: "%N" | modulo: foto_counter | plus: 1 %}
{% assign rnd_foto6 = "now" | date: "%N" | modulo: foto_counter | plus: 1 %}
{% assign rnd_foto7 = "now" | date: "%N" | modulo: foto_counter | plus: 1 %}
{% assign rnd_foto8 = "now" | date: "%N" | modulo: foto_counter | plus: 1 %}
{% assign rnd_foto9 = "now" | date: "%N" | modulo: foto_counter | plus: 1 %}
{% assign rnd_foto10 = "now" | date: "%N" | modulo: foto_counter | plus: 1 %}
{% assign rnd_foto11 = "now" | date: "%N" | modulo: foto_counter | plus: 1 %}
{% assign rnd_foto12 = "now" | date: "%N" | modulo: foto_counter | plus: 1 %}
{% assign rnd_foto13 = "now" | date: "%N" | modulo: foto_counter | plus: 1 %}
{% assign rnd_foto14 = "now" | date: "%N" | modulo: foto_counter | plus: 1 %}
{% assign rnd_foto15 = "now" | date: "%N" | modulo: foto_counter | plus: 1 %}
{% assign rnd_foto16 = "now" | date: "%N" | modulo: foto_counter | plus: 1 %}
{% assign rnd_foto17 = "now" | date: "%N" | modulo: foto_counter | plus: 1 %}
{% assign rnd_foto18 = "now" | date: "%N" | modulo: foto_counter | plus: 1 %}

<section id="fotos-teaser" class="bg-secondary text-white">
    <div class="container-fluid row row-cols-auto row-cols-md-3 p-0 m-0">
      <div class="fotobox d-flex">
        <div class="d-flex no-gutter row row-cols-md-2 row-cols-lg-3 row-cols-xl-4 flex-grow-1">
          <div class="foto" style="background-image: url('{{foto_list[rnd_foto1]}}');"></div>
          <div class="foto" style="background-image: url('{{foto_list[rnd_foto2]}}');"></div>
          <div class="foto d-none d-md-block" style="background-image: url('{{foto_list[rnd_foto3]}}');"></div>
          <div class="foto d-none d-md-block" style="background-image: url('{{foto_list[rnd_foto4]}}');"></div>
          <div class="foto d-none d-lg-block" style="background-image: url('{{foto_list[rnd_foto5]}}');"></div>
          <div class="foto d-none d-lg-block" style="background-image: url('{{foto_list[rnd_foto6]}}');"></div>
          <div class="foto d-none d-lg-block" style="background-image: url('{{foto_list[rnd_foto7]}}');"></div>
          <div class="foto d-none d-lg-block" style="background-image: url('{{foto_list[rnd_foto8]}}');"></div>
          <div class="foto d-none d-lg-block d-xl-none" style="background-image: url('{{ foto_list[rnd_foto9] }}');"></div>
        </div>
      </div>
      <div class="cover-img-bg px-3 py-5 text-center" style="background: linear-gradient(rgba(54,59,64,0.9), rgba(54,98,115,0.9)),url('{{foto_list[rnd_foto0]}}') center center; background-size: cover;">
        <h2 class="fw-bold">Fotos</h2>
        <p>Eindrücke aus unserem Vereinsleben, von Spieltagen, Turnieren und unseren Mitgliedern findest du in unserer:</p>
        <div class="cta-btn-container text-center">
          <a class="archiv-btn generic-button align-middle py-2 px-3" href="/fotos/">Fotogalerie</a>
        </div>
      </div>
      <div class="fotobox d-flex">
        <div class="d-flex row no-gutter row-cols-md-2 row-cols-lg-3 row-cols-xl-4 flex-grow-1">
          <div class="foto" style="background-image: url('{{ foto_list[rnd_foto10] }}');"></div>
          <div class="foto" style="background-image: url('{{ foto_list[rnd_foto11] }}');"></div>
          <div class="foto" style="background-image: url('{{ foto_list[rnd_foto12] }}');"></div>
          <div class="foto d-none d-md-block" style="background-image: url('{{foto_list[rnd_foto13]}}');"></div>
          <div class="foto d-none d-lg-block" style="background-image: url('{{foto_list[rnd_foto14]}}');"></div>
          <div class="foto d-none d-lg-block" style="background-image: url('{{foto_list[rnd_foto15]}}');"></div>
          <div class="foto d-none d-lg-block" style="background-image: url('{{foto_list[rnd_foto16]}}');"></div>
          <div class="foto d-none d-lg-block" style="background-image: url('{{foto_list[rnd_foto17]}}');"></div>
          <div class="foto d-none d-lg-block d-xl-none" style="background-image: url('{{ foto_list[rnd_foto18] }}');"></div>
        </div>
      </div>

  </section>