<section id="kontakt">
  <div class="container py-5">
    <div class="section-header">
      <h3 class="section-title">Kontakt</h3>
      <span class="section-divider"></span>
      <p class="section-description">Zögere bitte nicht. Solltest du Fragen an uns haben, oder Interesse mit uns zu trainieren, dann melde dich bei uns!</p>
    </div>

    <div class="fragen row">

      <div class="col-6 col-sm-12 text-center">
        <h6 class="mb-1">Hast du Fragen zu deiner Mitgliedschaft?</h6>
        <span>Melde dich bitte direkt bei Renate Kleinbub<br><a class="email" href="mailto:mitgliederverwaltung@vcmuellheim.de?subject=Volleyball Club Müllheim" target="_blank"><i class="fas fa-envelope"></i> mitgliederverwaltung@vcmuellheim.de</a></span>
      </div>

      <div class="col-6 col-sm-12 text-center">
        <h6 class="mb-1">Hast du Fragen zu deiner Beitragszahlung?</h6>
        <span>Melde dich bitte direkt bei Peter Müssig<br><a class="email" href="mailto:kassier@vcmuellheim.de?subject=Volleyball Club Müllheim" target="_blank"><i class="fas fa-envelope"></i> kassier@vcmuellheim.de</a></span>
      </div>

      <div class="col-6 col-sm-12 text-center">
        <h6 class="mb-1">Hast du Interesse an einem Probetrainung?</h6>
        <span>Melde dich bitte beim jeweiligen Trainer der Mannschaft (siehe oben)</span><br>
        <span><a class="email" href="mailto:thomas@vcmuellheim.de?subject=Volleyball Club Müllheim" target="_blank"><i class="fas fa-envelope"></i> thomas@vcmuellheim.de</a></span>
        <span><a class="email" href="mailto:thomas@vcmuellheim.de?subject=Volleyball Club Müllheim" target="_blank"><i class="fas fa-envelope"></i> andreas@vcmuellheim.de</a></span>
        <span><a class="email" href="mailto:thomas@vcmuellheim.de?subject=Volleyball Club Müllheim" target="_blank"><i class="fas fa-envelope"></i> dominik@vcmuellheim.de</a></span>
        <span><a class="email" href="mailto:thomas@vcmuellheim.de?subject=Volleyball Club Müllheim" target="_blank"><i class="fas fa-envelope"></i> klaus@vcmuellheim.de</a></span>
      </div>

      <div class="col-6 col-sm-12 text-center">
        <h6 class="mb-1">Suchst du das Aufnahmeformular?</h6>
        <span><a href="https://vcmuellheim.de/docs/aufnahmeform.pdf" download="">Hier klicken zum downloaden.</a></span>
      </div>

      <div class="col-6 col-sm-12 text-center">
        <h6 class="mb-1">Bei allen anderen Anliegen:</h6>
        <span><a href="mailto:info@vcmuellheim.de" class="mail" target="_blank"><i class="fas fa-envelope"></i> info@vcmuellheim.de</a></span><br>
        <span><a href="http://m.me/VCMuellheim/" class="facebook" target="_blank" rel="nofollow noopener"><i class="fab fa-facebook-messenger"></i> Facebook Messenger</a></span>
      </div>

    </div>


  </div>
</section>
