<section id="call-to-action" class="cover-img-bg py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 col-12 text-center text-lg-start">
        <h3 class="cta-title fw-bold">Klingt gut?</h3>
        <p class="cta-text">
          Sagen dir unsere Trainingszeiten zu? Dann komm doch einfach mal vorbei! Wir freuen uns auf dich!
        </p>
      </div>
      <div class="col-lg-3 col-12 cta-btn-container text-center justify-content-center">
        <a class="cta-btn align-middle" href="#kontakt">Jetzt loslegen!</a>
      </div>
    </div>

  </div>
</section>
