<section id="kontakt">
  <div class="container py-5">
    <div class="section-header">
      <h3 class="section-title">Kontakt</h3>
      <span class="section-divider"></span>
      <p class="section-description">Zögere bitte nicht. Solltest du Fragen an uns haben, oder Interesse mit uns zu trainieren, dann melde dich bei uns!</p>
    </div>

    <div class="row no-gutter row-cols-1 row-cols-md-2">
        <div class="contact-info col text-center text-md-right">
          <div class="facebook mb-2">
            <a href="http://m.me/VCMuellheim/" rel="nofollow noopener" target="_blank"><i class="fab fa-facebook-messenger"></i> Facebook Messenger</a>
          </div>
          <div class="email mb-2">
            <a href="mailto:info@vcmuellheim.de" class="mail" target="_blank"><i class="fas fa-envelope"></i> info@vcmuellheim.de</a>
          </div>
        </div>

        <div class="contact-info col text-center text-md-left">
          <div class="physical mb-2">
            Volleyballclub Müllheim e.V.<br>
            Lothar Voigt<br>
            Lettenstr. 48<br>
            79424 Auggen<br>
            lothar.voigt@t-online.de
          </div>
        </div>
    </div>

    <div class="text-center pt-5">
      <span>Suchst du das Aufnahmeformular?<br>
      <a href="https://vcmuellheim.de/docs/aufnahmeform.pdf" download="">Hier klicken zum downloaden.</a></span>
    </div>

  </div>
</section>
