<section id="special" class="py-5"
  style="background: linear-gradient(rgba(54, 59, 64, 0.9), rgba(54, 98, 115, 0.9)), url(/upload/2022/06/15/turnier2022_game.jpg) fixed center center">
  <div class="container">
    <div class="row">
      <div class="col-12 text-start">
        <h3 class="cta-title">Internationales Jugendturnier 2022</h3>
        <p class="m-0">Am 10.07.2022 veranstalten wir ein Jugendturnier. Alle Informationen inklusive des
          Anmeldeformulars, findest du <a href="/jugend2022/">hier</a>!</p>
      </div>
    </div>

  </div>
</section>
