<title>{{ site.title }}{% if page.title %} - {{ page.title }}{% endif %}</title>
<meta charset="utf-8">
<meta name="language" content="de">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="{{ site.description }}">
<meta name="keywords" content="volleyball, training, sport, freizeit, trainer, mannschaft, volleyballclub, muellheim, müllheim, landesliga, verbandsliga, herren, jungs, jugend, freizeit, trainingszeiten, hallensport, markgräflerland, nähe freiburg, staufen, neuenburg, breisgau, baden-würrtemberg,">

<meta property="og:site_name" content="{{ site.title }}">
<meta name="theme-color" content="{{ site.color_dark }}">
<meta name="background-color" content="{{ site.color_light }}">

{% if page.title %}
<meta property="og:title" content="{{ page.title }}">
<meta property="og:description" content="{{ page.excerpt | strip_html }}">
<meta property="og:url" content="{{ page.url | absolute_url }}">
{% endif %}

<!-- RSS Feed -->
<link rel="alternate" type="application/rss+xml" href="/feed.xml" title="Neuigkeiten des Volleyballclub Müllheim">

<!-- Favicons -->
<link href="{{ site.favicon }}" rel="icon">
<link href="{{ site.apple_touch_icon }}" rel="apple-touch-icon">
<link href="{{ site.apple_touch_startup_image }}" rel="apple-touch-startup-image">

<!-- Pinned Sites  -->
<meta name="application-name" content="{{ site.name }}">
<meta name="msapplication-tooltip" content="{{ site.description }}">
<meta name="msapplication-starturl" content="/">

<!-- Social Thumbnails -->
{% if page.thumbnail %}
<meta property="og:image" content="{{ page.thumbnail | absolute_url }}">
<meta name="twitter:image" content="{{ page.thumbnail | absolute_url }}">
{% else %}
<meta property="og:image" content="{{ site.url }}/img/intro-bg.jpg">
<meta name="twitter:image" content="{{ site.url }}/img/intro-bg.jpg">
{% endif %}

<!--  Fonts -->
<link href="/assets/css/fonts.css" rel="stylesheet">
<!-- Main Stylesheet File -->
<link href="/assets/css/main.css" rel="stylesheet">
<!-- slick Carousel  -->
<link href="/assets/css/slick.css" rel="stylesheet">