<title>{{ site.title }}{%if page.title %} - {{ page.title }}{%endif}</title>
<meta charset="utf-8">
<meta name="language" content="de">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Dies ist die offizielle Webseite des Volleyball Verein aus Müllheim!">
<meta name="keywords" content="volleyball, training, sport, freizeit, trainer, mannschaft, volleyballclub, muellheim, müllheim, landesliga, verbandsliga, herren, jungs, jugend, markgräflerland, nähe freiburg, staufen, neuenburg, breisgau, baden-würrtemberg,">
