<nav class="navbar sticky-top navbar-expand-md bg-dark">
    <div class="container">
        <h1 class="p-0 m-0 me-5 text-uppercase"><a href="/" class="scrollto text-nowrap text-white"><i class="fa-solid fa-volleyball-ball fa-spin d-none d-sm-inline" style="--fa-animation-duration: 60s;"></i> VC<span class="d-none d-md-inline d-lg-none">M</span><span class="d-inline d-md-none d-lg-inline"> Müllheim</span></a></h1>
        <button class="navbar-toggler p-0 text-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarVCM" aria-controls="navbarVCM" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-custom-icon border rounded-2"><i class="fa-solid fa-bars p-2"></i></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarVCM">
            <div class="navbar-nav flex-wrap">
                <div class="nav-item d-md-none">----------</div>
                {% if page.url == "/" %}
                <div class="nav-item"><a class="nav-link" href="/#news">News</a></div>
                {% else if %}
                <div class="nav-item"><a class="nav-link" class="nav-link" href="/blog/">News</a></div>
                {% endif %}
                <div class="nav-item"><a class="nav-link" href="/#mannschaften">Mannschaften</a></div>
                <div class="nav-item"><a class="nav-link" href="/tabelle/">Tabelle</a></div>
                <div class="nav-item"><a class="nav-link" href="/fotos/">Fotos</a></div>
                <div class="nav-item"><a class="nav-link" href="https://vcmuellheim.fan12.de" target="_blank" rel="me noopener">Shop</a></div>
                <div class="nav-item"><a class="nav-link" href="/#kontakt">Kontakt</a></div>
                <div class="nav-item d-md-none">----------</div>
                <div class="nav-item d-md-none"><a class="nav-link" href="https://freiburg.social/@VCM" target="_blank" rel="me noopener""><i class="fab fa-mastodon"></i> Mastodon</a></div>
                <div class="nav-item d-none"><a class="nav-link" href="https://twitter.com/VCMuellheim" target="_blank" rel="me noopener"><i class="fab fa-twitter-square"></i> Twitter</a></div>
                <div class="nav-item d-md-none"><a class="nav-link" href="https://www.facebook.com/VCMuellheim/" target="_blank" rel="me noopener"><i class="fab fa-facebook-square"></i> Facebook</a></div>
                <div class="nav-item d-md-none"><a class="nav-link" href="https://www.instagram.com/vcmuellheim" target="_blank" rel="me noopener"><i class="fab fa-instagram-square"></i> Instagram</a></div>
                <div class="nav-item d-md-none"><a class="nav-link" href="mailto:info@vcmuellheim.de"><i class="fa-solid fa-envelope"></i> info@vcmuellheim.de</a></div>
            </div>
        </div>
    </div>
</nav>