{% for schedule_json in site.data.sams.matches %}
    {% assign stripped_results = schedule_json[1] | strip %}
    {% if include.team == nil or stripped_results contains include.team %}
        {% for match in schedule_json[1].matches.match %}
            {% assign schedule_matches_lastupdated = schedule_matches_lastupdated | append: match.matchSeries.updated | append: "#" %}
            {% if match.matchSeries.type and match.results.winner == nil %}

                {%- capture content -%}
                    {{ match.date | date: "%Y-%m-%d" }} {{ match.time | date: "%H:%M" }}$#€{{ match.uuid }}$#€{{ match.matchSeries.name }}$#€{{ match.matchSeries.type }}$#€{{ match.matchSeries.season.name }}$#€{{ match.uuid }}$#€{{ match.host.id }}$#€{{ match.host.club }}$#€{{ match.team[0].id }}$#€{{ match.team[1].id }}$#€{{ match.team[0].name }}$#€{{ match.team[1].name }}$#€{{ match.location.street }}$#€{{ match.location.postalCode }}$#€{{ match.location.city }}$#€{{ match.location.name }}$#€{{ match.results.setPoints }}$#€{{ match.results.ballPoints }}$#€{{ match.results.sets.set[0].points }}, {{ match.results.sets.set[1].points }}{% if match.results.sets.set[2].points %}, {{ match.results.sets.set[2].points }}{% endif %}{% if match.results.sets.set[3].points %}, {{ match.results.sets.set[3].points }}{% endif %}{% if match.results.sets.set[4].points %}, {{ match.results.sets.set[4].points }}{% endif %}
                {%- endcapture -%}

                {% if schedule_all_matches == nil %}
                    {% assign schedule_all_matches = content %}
                {% else %}
                    {% assign schedule_all_matches = schedule_all_matches | append: 'öäü' | append: content %}
                {% endif %}

            {% endif %}
        {% endfor %}
    {% endif %}
{% endfor %}
{% assign schedule_matches_lastupdated = schedule_matches_lastupdated | split: "#" | sort | reverse %}

<div class="container">
    <div class="col sams-matches">
        <div class="box matches-future px-0 px-lg-4">
            {% if include.heading %}
            <h3 class="fw-bold px-3">{{ include.heading }}</h3>
            {% endif %}
            {% unless schedule_all_matches.size > 0 %}
                <div class="container sams-nomatches row mt-2 mb-3 align-items-center">
                    <div class="col-auto">
                        <i class="fa-regular fa-calendar-xmark fa-bo1unce fs-1 text-warning"></i>
                    </div>
                    <div class="col">Derzeit stehen keine weiteren Spieltermine an.</div>
                </div>
            {% endunless %}
            <div class="container mb-4 px-3">
                {% if include.team == nil %}
                    <a type="text/calendar" href="webcal://vcmuellheim.de/ics/all.ics"><i class="fa-solid fa-arrows-rotate"></i> Abboniere unseren Kalender</a>, um neue Termine saisonübergreifend automatisch in deiner Kalender-App zu empfangen.
                {% else %}
                    <a type="text/calendar" href="webcal://vcmuellheim.de/ics/{{ include.name }}.ics"><i class="fa-solid fa-arrows-rotate"></i> Abboniere unseren <b>Mannschafts&shy;kalender</b></a>, um neue Termine saisonübergreifend automatisch in deiner Kalender-App zu empfangen.
                {% endif %}
            </div>
            <div class="upcoming">
                <div class="zebra-list">
                    {% assign schedule_all_matches = schedule_all_matches | split: 'öäü' | sort %}
                    {% for match in schedule_all_matches limit: include.matches_limit | default: 9 %}
                    {% assign m = match | split: '$#€' %}
                    {% unless matches_shown contains m[1] %}
                    {% if include.team == nil or m[8] contains include.team or m[9] contains include.team %}
                    <div class="match col-12 row text-nowrap m-0 py-2" match-id="{{ m[5] }}" match-number="1">
                        <div class="date-time col-12 col-lg-2 d-flex flex-lg-column align-items-center flex-wrap small">
                            <span class="date d-lg-block me-2">{{ m[0] | date: "%d.%m.%Y" }}</span>
                            <span class="date d-lg-block me-2">
                            {% assign this_time = m[0] | date: "%H%M" | abs %}
                            {% if this_time >= 1 %}
                                {{ m[0] | date: "%H:%M Uhr" }}
                            {% else %}
                                <span class="small">Zeit unbekannt</span>
                            {% endif %}
                            </span>
                        </div>
                        <div class="teams col-12 col-lg-5" hostid="{{ m[6] }}" hostname="{{ m[7] }}">
                            <div class="fw-bold overflow-hidden text-truncate">
                                <span class="team-a d-block d-lg-inline-block" teamid="{{ m[8] }}" team="{{ m[10] }}">{{ m[10] }}</span>
                                <span class="versus px-sm-1 d-none d-lg-inline-block">:</span>
                                <span class="team-b d-block d-lg-inline-block" teamid="{{ m[9] }}" team="{{ m[11] }}">{{ m[11] }}</span>
                            </div>
                            <div>
                                <span class="league-name d-lg-block small text-success text-truncate">{{ m[2] }}</span>
                            </div>
                        </div>
                        <div class="location col-12 col-lg-5 d-flex align-items-center">
                            {% if m[14].size > 0 %}
                                <a target="_blank" rel="noopener" href="https://www.google.com/maps/search/?api=1&amp;query={{ m[12] }},{{ m[13] }}+{{ m[14] }},{{ m[15] }}" class="text-truncate"><i class="fa-solid fa-location-dot pe-1"></i>{{ m[14] }} <span class="small">({{ m[15] }})</span></a>
                            {% endif %}
                        </div>
                    </div>
                    {% assign matches_shown = matches_shown | append: m[1] %}
                    {% endif %}
                    {% endunless %}
                    {% endfor %}                    
                </div>
            </div>
            <div class="lastupdate fst-italic small text-black text-opacity-25 text-end mt-1 mb-2 px-3">{{ schedule_matches_lastupdated[0] | date: "Stand %d.%m.%Y %H:%M Uhr" }}</div>
        </div>
    </div>
</div>