{% for club_data in site.data.sams.club %}
    {% assign club_teams = club_data[1]['teams']['team'] %}
{% endfor %}

{% for sorted_team in site.teams %}
    {%- capture this_team -%}
    {% if sorted_team.sbvv_id %}
        {% assign this_team_hierarchy = 88 %}
    {% else %}
        {% assign this_team_hierarchy = 99 %}
    {% endif %}
        {% for sams_team in club_teams %}
            {% assign sams_team_id = sams_team.id | plus: 0 %}
            {% assign sorted_team_sbvv_id = sorted_team.sbvv_id | plus: 0 %}
            {% if sams_team_id == sorted_team_sbvv_id %}
                {% assign this_team_hierarchy = sams_team.matchSeries.hierarchy.hierarchyLevel %}
            {% endif %}
        {% endfor %}
    {{ this_team_hierarchy }}€€€{{ sorted_team.title }}€€€{{ sorted_team.url }}€€€{{ sorted_team.liga }}
    {%- endcapture -%}
    {% assign sorted_teams = sorted_teams | append: this_team | append: '§§§' %}
{% endfor %}

{% assign sorted_teams = sorted_teams | split: '§§§' | sort %}
{% for st in sorted_teams %}
    {% assign sta = st | split: '€€€' %}
    {{ sta[0] }} {{ sta[1] }} {{ sta[2] }}
{% endfor %}