{% assign sorted-teams = (site.teams | sort: 'liga') %}
{% for team in sorted-teams %}
    {% unless include.team and team.path != include.team %}
    <div class="teaminfo {% unless include.team %}d-flex col-lg-6{% else %}pb-4{% endunless %}">
        <div class="box w-100 row align-content-start mx-0 mt-0 mb-4 p-3 p-sm-4">
            <!-- Name -->
            <div class="col-12">
                {% unless include.team %}
                    <h3 class="teamname title fw-bold fs-5">
                        {{ team.title }}{% unless team.liga contains '98' or team.liga contains '99' %} - {{ team.liga | slice: 4, 200 }}{% endunless %}
                    </h3>
                {% else %}
                    <h3 class="teamname fw-bold">{{ team.title }}</h3>
                {% endunless %}
            </div>
            <div class="col-12 {% unless team.liga contains '99' %}col-md-7 col-xxl-7{% endunless %} col-lg-12 mb1-2">
            <!-- Age -->
            {% if team.alter.size > 0 %}
                <p class="alter"> <b>Alter:</b> {{ team.alter }}</p>
            {% endif %}
            <!-- Hours -->
            <p class="trainingszeiten"><b>Trainingszeiten:</b><br>{{ team.trainings-zeit1 }}<br>
                <a href="{{ team.trainings-map1 }}" target="_blank" rel="noopener"><i class="fa-solid fa-map-marker-alt"></i> {{ team.trainings-ort1 }}</a>
                {% if team.trainings-zeit2.size > 0 %}
                    <br>{{ team.trainings-zeit2 }}<br>
                    <a href="{{ team.trainings-map2 }}" target="_blank" rel="noopener"><i class="fa-solid fa-map-marker-alt"></i> {{ team.trainings-ort2 }}</a><br>
                {% endif %}
            </p>
            <!-- Trainer -->
            {% if team.trainer-name1.size > 0 %}
            <p class="trainer"><b>Trainer</b>:
            {% if team.trainer-email1 contains '@' %}
                <a href="mailto:{{ team.trainer-email1 }}?subject={{ site.title }} - {{ team.title }}">{{ team.trainer-name1 }}</a>{% else %}{{ team.trainer-name1 }}
            {% endif %}
            {% if team.trainer-name2.size > 0 %} &
                {% if team.trainer-email2  contains '@' %}
                    <a href="mailto:{{ team.trainer-email2 }}?subject={{ site.title }} - {{ team.title }}">{{ team.trainer-name2 }}</a>{% else %}{{ team.trainer-name2 }}
                {% endif %}
            {% endif %}
            </p>
            {% endif %}
            <!-- Ansprechperson -->
            {% if team.ansprechperson-name1.size > 0 %}
                <p class="ansprechperson"><b>Ansprechperson</b>:
                {% if team.ansprechperson-email1 contains '@' %}
                    <a href="mailto:{{ team.ansprechperson-email1 }}?subject={{ site.title }} - {{ team.title }}">{{ team.ansprechperson-name1 }}</a>{% else %}{{ team.ansprechperson-name1 }}
                {% endif %}
                {% if team.ansprechperson-name2.size > 0 %} &
                    {% if team.ansprechperson-email2  contains '@' %}
                        <a href="mailto:{{ team.ansprechperson-email2 }}?subject={{ site.title }} - {{ team.title }}">{{ team.ansprechperson-name2 }}</a>{% else %}{{ team.ansprechperson-name2 }}
                    {% endif %}
                {% endif %}
                </p>
            {% endif %}
            <!-- Kommentar  -->
            {% if team.kommentar.size > 0 %}
                <p class="description">{{ team.kommentar }}</p>
            {% endif %}
            </div>
            <!-- Link zur Mannschaftsdetails (Ergebnisse, Spielplan Tabelle)  -->
            {% if team.sbvv_id.size > 0 and page.sbvv_id == nil %}
                <div class="col">
                    <p class="link-to-more mb-0"><b>Ergebnisse, Tabelle & Kalender:</b><br>
                    <a href="{{ team.url }}" class="generic-button mt-1 mt-lg-2">
                        <i class="fa-solid fa-calendar-days"></i> Saisoninfo
                    </a>
                    </p>
                </div>
            {% endif %}
            
            </div>
        </div>
    {% endunless %}
{% endfor %}
