<?xml version="1.0"?>

---
Update: 2022-06-03 15:14:03.073
League: Kreisliga Mitte Damen
LeagueRank: 10
Season: 2021/22
---
        <div class="rankings"><div><div>Platz</div><div>Mannschaft</div><div>Siege</div><div>Sätze</div><div>Punkte</div></div><div><div>1</div><div>TV Freiburg-St.Georgen 2</div><div>6</div><div>20:4</div><div>16</div></div><div><div>2</div><div>VfR Umkirch 3</div><div>6</div><div>19:4</div><div>15</div></div><div><div>3</div><div>TV Merdingen 2</div><div>5</div><div>15:10</div><div>5</div></div><div><div>4</div><div>FT 1844 Freiburg 5</div><div>4</div><div>12:13</div><div>-1</div></div><div><div>5</div><div>VfR Merzhausen 3</div><div>3</div><div>13:14</div><div>-1</div></div><div><div>6</div><div>SV Kirchzarten 2</div><div>3</div><div>11:14</div><div>-3</div></div><div><div>7</div><div>SG Breisach-Gündlingen 2</div><div>1</div><div>8:18</div><div>-10</div></div><div><div>8</div><div>VC Müllheim</div><div>0</div><div>0:21</div><div>-21</div></div><div>
                Stand </div></div>
