<div class="col sams-rankings"><div class="box">
<h3 class="fw-bold">Verbandsliga Herren</h3>
<div class="footnote">
<div class="season">
                        Saison 2021/22</div>
<div class="timestamp">
                        Stand 16.07.2022, 21:43 Uhr</div>
</div>
<div><table class="w-100">
<thead><tr>
<th>Platz</th>
<th>Mannschaft</th>
<th>Siege</th>
<th>Sätze</th>
<th>Punkte</th>
</tr></thead>
<tbody>
<tr team="TG Tuttlingen">
<td>1</td>
<td>TG Tuttlingen</td>
<td>7/8</td>
<td>22:4</td>
<td>21</td>
</tr>
<tr team="VC Weil">
<td>2</td>
<td>VC Weil</td>
<td>7/8</td>
<td>21:4</td>
<td>21</td>
</tr>
<tr team="TV Kippenheim">
<td>3</td>
<td>TV Kippenheim</td>
<td>5/8</td>
<td>17:12</td>
<td>15</td>
</tr>
<tr team="VC Müllheim">
<td>4</td>
<td>VC Müllheim</td>
<td>4/8</td>
<td>17:13</td>
<td>14</td>
</tr>
<tr team="USC Freiburg 2">
<td>5</td>
<td>USC Freiburg 2</td>
<td>5/8</td>
<td>16:14</td>
<td>13</td>
</tr>
<tr team="SV Bohlingen 1">
<td>6</td>
<td>SV Bohlingen 1</td>
<td>3/8</td>
<td>9:16</td>
<td>9</td>
</tr>
<tr team="VC Haslach">
<td>7</td>
<td>VC Haslach</td>
<td>3/8</td>
<td>11:17</td>
<td>8</td>
</tr>
<tr team="Bad Säckinger Wölfe">
<td>8</td>
<td>Bad Säckinger Wölfe</td>
<td>2/8</td>
<td>9:20</td>
<td>7</td>
</tr>
<tr team="TV Überlingen">
<td>9</td>
<td>TV Überlingen</td>
<td>0/8</td>
<td>2:24</td>
<td>0</td>
</tr>
<tr class="norankings"><td colspan="4">Für diese Saison stehen derzeit keine Ergebnisse bereit.</td></tr>
</tbody>
</table></div>
</div></div>
