<div class="col sams-rankings"><div class="box">
<h3 class="fw-bold">Kreisliga Mitte Damen</h3>
<div class="footnote">
<div class="season">
                        Saison 2021/22</div>
<div class="timestamp">
                        Stand 09.07.2022, 21:24 Uhr</div>
</div>
<div><table class="w-100">
<thead><tr>
<th>Platz</th>
<th>Mannschaft</th>
<th>Siege</th>
<th>Sätze</th>
<th>Punkte</th>
</tr></thead>
<tbody>
<tr team="TV Freiburg-St.Georgen 2">
<td>1</td>
<td>TV Freiburg-St.Georgen 2</td>
<td>6/7</td>
<td>20:4</td>
<td>19</td>
</tr>
<tr team="VfR Umkirch 3">
<td>2</td>
<td>VfR Umkirch 3</td>
<td>6/7</td>
<td>19:4</td>
<td>18</td>
</tr>
<tr team="TV Merdingen 2">
<td>3</td>
<td>TV Merdingen 2</td>
<td>5/7</td>
<td>15:10</td>
<td>13</td>
</tr>
<tr team="FT 1844 Freiburg 5">
<td>4</td>
<td>FT 1844 Freiburg 5</td>
<td>4/7</td>
<td>12:13</td>
<td>11</td>
</tr>
<tr team="VfR Merzhausen 3">
<td>5</td>
<td>VfR Merzhausen 3</td>
<td>3/7</td>
<td>13:14</td>
<td>9</td>
</tr>
<tr team="SV Kirchzarten 2">
<td>6</td>
<td>SV Kirchzarten 2</td>
<td>3/7</td>
<td>11:14</td>
<td>9</td>
</tr>
<tr team="SG Breisach-Gündlingen 2">
<td>7</td>
<td>SG Breisach-Gündlingen 2</td>
<td>1/7</td>
<td>8:18</td>
<td>5</td>
</tr>
<tr team="VC Müllheim">
<td>8</td>
<td>VC Müllheim</td>
<td>0/7</td>
<td>0:21</td>
<td>0</td>
</tr>
<tr class="norankings"><td colspan="4">Für diese Saison stehen derzeit keine Ergebnisse bereit.</td></tr>
</tbody>
</table></div>
</div></div>
