<div class="col sams-rankings"><div class="box">
<h3 class="fw-bold">Bezirksklasse Herren</h3>
<div class="footnote">
<div class="season">
                        Saison 2021/22</div>
<div class="timestamp">
                        Stand 25.06.2022, 21:24 Uhr</div>
</div>
<div><table class="w-100">
<thead><tr>
<th>Platz</th>
<th>Mannschaft</th>
<th>Siege</th>
<th>Sätze</th>
<th>Punkte</th>
</tr></thead>
<tbody>
<tr team="VC Müllheim 2">
<td>1</td>
<td>VC Müllheim 2</td>
<td>6/7</td>
<td>18:3</td>
<td>18</td>
</tr>
<tr team="FT 1844 Freiburg 4">
<td>2</td>
<td>FT 1844 Freiburg 4</td>
<td>6/7</td>
<td>19:6</td>
<td>17</td>
</tr>
<tr team="TV Staufen 2">
<td>3</td>
<td>TV Staufen 2</td>
<td>5/7</td>
<td>15:12</td>
<td>14</td>
</tr>
<tr team="VSG Mundingen">
<td>4</td>
<td>VSG Mundingen</td>
<td>3/7</td>
<td>15:12</td>
<td>12</td>
</tr>
<tr team="VfR Merzhausen 2">
<td>5</td>
<td>VfR Merzhausen 2</td>
<td>3/7</td>
<td>14:14</td>
<td>10</td>
</tr>
<tr team="SG BEG United 3">
<td>6</td>
<td>SG BEG United 3</td>
<td>3/7</td>
<td>10:14</td>
<td>8</td>
</tr>
<tr team="VC Weil 3">
<td>7</td>
<td>VC Weil 3</td>
<td>2/7</td>
<td>7:18</td>
<td>5</td>
</tr>
<tr team="TV Kippenheim 2">
<td>8</td>
<td>TV Kippenheim 2</td>
<td>0/7</td>
<td>2:21</td>
<td>0</td>
</tr>
<tr class="norankings"><td colspan="4">Für diese Saison stehen derzeit keine Ergebnisse bereit.</td></tr>
</tbody>
</table></div>
</div></div>
