<div class="col sams-rankings"><div class="box">
<h3 class="fw-bold">Kreisliga Süd Damen</h3>
<div class="footnote">
<div class="season">
                        Saison 2021/22</div>
<div class="timestamp">
                        Stand 18.07.2022, 00:27 Uhr</div>
</div>
<div><table class="w-100">
<thead><tr>
<th>Platz</th>
<th>Mannschaft</th>
<th>Siege</th>
<th>Sätze</th>
<th>Punkte</th>
</tr></thead>
<tbody>
<tr team="TV Bad Säckingen 2">
<td>1</td>
<td>TV Bad Säckingen 2</td>
<td>8/8</td>
<td>24:2</td>
<td>24</td>
</tr>
<tr team="TV Hartheim 2">
<td>2</td>
<td>TV Hartheim 2</td>
<td>7/8</td>
<td>22:3</td>
<td>21</td>
</tr>
<tr team="TV Bad Säckingen 3">
<td>3</td>
<td>TV Bad Säckingen 3</td>
<td>5/8</td>
<td>15:12</td>
<td>15</td>
</tr>
<tr team="TV Staufen 2">
<td>4</td>
<td>TV Staufen 2</td>
<td>4/8</td>
<td>14:12</td>
<td>12</td>
</tr>
<tr team="VC Weil 3">
<td>5</td>
<td>VC Weil 3</td>
<td>4/8</td>
<td>14:14</td>
<td>12</td>
</tr>
<tr team="VC Weil 2">
<td>6</td>
<td>VC Weil 2</td>
<td>3/8</td>
<td>10:16</td>
<td>9</td>
</tr>
<tr team="TV Todtnau 2">
<td>7</td>
<td>TV Todtnau 2</td>
<td>3/8</td>
<td>10:16</td>
<td>9</td>
</tr>
<tr team="VC Müllheim 2">
<td>8</td>
<td>VC Müllheim 2</td>
<td>1/8</td>
<td>5:21</td>
<td>4</td>
</tr>
<tr team="VBG Efringen-Kirchen 2">
<td>9</td>
<td>VBG Efringen-Kirchen 2</td>
<td>1/8</td>
<td>5:23</td>
<td>2</td>
</tr>
<tr class="norankings"><td colspan="4">Für diese Saison stehen derzeit keine Ergebnisse bereit.</td></tr>
</tbody>
</table></div>
</div></div>
