<div class="col sams-rankings"><div class="box">
<h1>Bez.-Meisterschaft U14w Endrunde am 06.03.2022</h1>
<div class="footnote">
<div class="season">
                        Saison 2021/22</div>
<div class="timestamp">
                        Stand 16.06.2022, 07:00 Uhr</div>
</div>
<div><table>
<thead><tr>
<th>Platz</th>
<th>Mannschaft</th>
<th>Siege</th>
<th>Sätze</th>
<th>Punkte</th>
</tr></thead>
<tbody>
<tr team="FT 1844 Freiburg 1">
<td></td>
<td>FT 1844 Freiburg 1</td>
<td>/</td>
<td></td>
<td></td>
</tr>
<tr team="FT 1844 Freiburg 2">
<td></td>
<td>FT 1844 Freiburg 2</td>
<td>/</td>
<td></td>
<td></td>
</tr>
<tr team="FT 1844 Freiburg 3">
<td></td>
<td>FT 1844 Freiburg 3</td>
<td>/</td>
<td></td>
<td></td>
</tr>
<tr team="FT 1844 Freiburg 4">
<td></td>
<td>FT 1844 Freiburg 4</td>
<td>/</td>
<td></td>
<td></td>
</tr>
<tr team="FT Bodersweier">
<td></td>
<td>FT Bodersweier</td>
<td>/</td>
<td></td>
<td></td>
</tr>
<tr team="Sport vor Ort Rieselfeld">
<td></td>
<td>Sport vor Ort Rieselfeld</td>
<td>/</td>
<td></td>
<td></td>
</tr>
<tr team="Sport vor Ort Rieselfeld 2">
<td></td>
<td>Sport vor Ort Rieselfeld 2</td>
<td>/</td>
<td></td>
<td></td>
</tr>
<tr team="VC Müllheim">
<td></td>
<td>VC Müllheim</td>
<td>/</td>
<td></td>
<td></td>
</tr>
<tr team="VC Offenburg1">
<td></td>
<td>VC Offenburg1</td>
<td>/</td>
<td></td>
<td></td>
</tr>
<tr team="VC Offenburg2">
<td></td>
<td>VC Offenburg2</td>
<td>/</td>
<td></td>
<td></td>
</tr>
<tr class="norankings"><td colspan="4">Für diese Saison stehen derzeit keine Ergebnisse bereit.</td></tr>
</tbody>
</table></div>
</div></div>
