<?xml version="1.0"?>

---
Update: 2022-05-26 22:55:21.898
League: Bez.-Meisterschaft U14w Endrunde am 06.03.2022
LeagueRank: 5
Season: 2021/22
---
        <div class="rankings"><div><div>Platz</div><div>Mannschaft</div><div>Siege</div><div>Sätze</div><div>Punkte</div></div><div><div/><div>FT 1844 Freiburg 1</div><div/><div/><div/></div><div><div/><div>FT 1844 Freiburg 2</div><div/><div/><div/></div><div><div/><div>FT 1844 Freiburg 3</div><div/><div/><div/></div><div><div/><div>FT 1844 Freiburg 4</div><div/><div/><div/></div><div><div/><div>FT Bodersweier</div><div/><div/><div/></div><div><div/><div>Sport vor Ort Rieselfeld</div><div/><div/><div/></div><div><div/><div>Sport vor Ort Rieselfeld 2</div><div/><div/><div/></div><div><div/><div>VC Müllheim</div><div/><div/><div/></div><div><div/><div>VC Offenburg1</div><div/><div/><div/></div><div><div/><div>VC Offenburg2</div><div/><div/><div/></div><div>
                Stand 11.06.2022, 13:34 Uhr</div></div>
