<div class="col sams-rankings"><div class="box">
<h3 class="fw-bold">SBVV Rueckm. Herren Verbandsliga-22/23</h3>
<div class="footnote">
<div class="season">
                        Saison 2021/22</div>
<div class="timestamp">
                        Stand 26.06.2022, 20:46 Uhr</div>
</div>
<div><table class="w-100">
<thead><tr>
<th>Platz</th>
<th>Mannschaft</th>
<th>Siege</th>
<th>Sätze</th>
<th>Punkte</th>
</tr></thead>
<tbody>
<tr team="VC Müllheim">
<td>1</td>
<td>VC Müllheim</td>
<td>0/0</td>
<td>0:0</td>
<td>0:0</td>
</tr>
<tr team="VC Haslach">
<td>2</td>
<td>VC Haslach</td>
<td>0/0</td>
<td>0:0</td>
<td>0:0</td>
</tr>
<tr team="Unterseevolleys Radolfzell">
<td>3</td>
<td>Unterseevolleys Radolfzell</td>
<td>0/0</td>
<td>0:0</td>
<td>0:0</td>
</tr>
<tr team="USC Konstanz 2">
<td>4</td>
<td>USC Konstanz 2</td>
<td>0/0</td>
<td>0:0</td>
<td>0:0</td>
</tr>
<tr team="USC Freiburg">
<td>5</td>
<td>USC Freiburg</td>
<td>0/0</td>
<td>0:0</td>
<td>0:0</td>
</tr>
<tr team="TV Kappelrodeck Herren 2">
<td>6</td>
<td>TV Kappelrodeck Herren 2</td>
<td>0/0</td>
<td>0:0</td>
<td>0:0</td>
</tr>
<tr team="TG Tuttlingen">
<td>7</td>
<td>TG Tuttlingen</td>
<td>0/0</td>
<td>0:0</td>
<td>0:0</td>
</tr>
<tr team="SV Bohlingen">
<td>8</td>
<td>SV Bohlingen</td>
<td>0/0</td>
<td>0:0</td>
<td>0:0</td>
</tr>
<tr team="FT 1844 Freiburg 3">
<td>9</td>
<td>FT 1844 Freiburg 3</td>
<td>0/0</td>
<td>0:0</td>
<td>0:0</td>
</tr>
<tr class="norankings"><td colspan="4">Für diese Saison stehen derzeit keine Ergebnisse bereit.</td></tr>
</tbody>
</table></div>
</div></div>
