<?xml version="1.0"?>

---
Update: 2022-05-30 23:49:36.872
League: SBVV Rueckm. Herren Verbandsliga-22/23
LeagueRank: 6
Season: 2021/22
---
        <div class="rankings"><div><div>Platz</div><div>Mannschaft</div><div>Siege</div><div>Sätze</div><div>Punkte</div></div><div><div>1</div><div>VC Müllheim</div><div>0</div><div>0:0</div><div>0</div></div><div><div>2</div><div>VC Haslach</div><div>0</div><div>0:0</div><div>0</div></div><div><div>3</div><div>Unterseevolleys Radolfzell</div><div>0</div><div>0:0</div><div>0</div></div><div><div>4</div><div>USC Konstanz 2</div><div>0</div><div>0:0</div><div>0</div></div><div><div>5</div><div>USC Freiburg</div><div>0</div><div>0:0</div><div>0</div></div><div><div>6</div><div>TV Kappelrodeck Herren 2</div><div>0</div><div>0:0</div><div>0</div></div><div><div>7</div><div>TG Tuttlingen</div><div>0</div><div>0:0</div><div>0</div></div><div><div>8</div><div>SV Bohlingen</div><div>0</div><div>0:0</div><div>0</div></div><div><div>9</div><div>FT 1844 Freiburg 3</div><div>0</div><div>0:0</div><div>0</div></div><div>
                Stand </div></div>
