<div class="col sams-rankings"><div class="box">
<h3 class="fw-bold">Bezirk West Herren Bezirksliga Rückmeldungen-22/23</h3>
<div class="footnote">
<div class="season">
                        Saison 2021/22</div>
<div class="timestamp">
                        Stand 03.07.2022, 00:26 Uhr</div>
</div>
<div><table class="w-100">
<thead><tr>
<th>Platz</th>
<th>Mannschaft</th>
<th>Siege</th>
<th>Sätze</th>
<th>Punkte</th>
</tr></thead>
<tbody><tr class="norankings"><td colspan="4">Für diese Saison stehen derzeit keine Ergebnisse bereit.</td></tr></tbody>
</table></div>
</div></div>
