{% assign league_uuid = '5b8706c7-e84b-4418-920a-d726352e2ec1' %}<div class="col sams-rankings" liganame="Kreisliga Süd Damen" ligaid="22517267" ligauuid="5b8706c7-e84b-4418-920a-d726352e2ec1"><div class="box">
<h3 class="fw-bold">Kreisliga Süd Damen</h3>
<div class="footnote">
<div class="season">
                        Saison 2022/23</div>
<div class="timestamp">
                        Stand 13.08.2022, 18:50 Uhr</div>
</div>
<div><table class="w-100">
<thead><tr>
<th>Platz</th>
<th>Mannschaft</th>
<th>Siege</th>
<th>Sätze</th>
<th>Punkte</th>
</tr></thead>
<tbody>
<tr team="VC Weil 4">
<td>1</td>
<td>VC Weil 4</td>
<td>0/0</td>
<td>0:0</td>
<td>0</td>
</tr>
<tr team="VC Weil 3">
<td>2</td>
<td>VC Weil 3</td>
<td>0/0</td>
<td>0:0</td>
<td>0</td>
</tr>
<tr team="VC Weil 2">
<td>3</td>
<td>VC Weil 2</td>
<td>0/0</td>
<td>0:0</td>
<td>0</td>
</tr>
<tr team="VC Müllheim 2">
<td>4</td>
<td>VC Müllheim 2</td>
<td>0/0</td>
<td>0:0</td>
<td>0</td>
</tr>
<tr team="VC Müllheim">
<td>5</td>
<td>VC Müllheim</td>
<td>0/0</td>
<td>0:0</td>
<td>0</td>
</tr>
<tr team="VBG Efringen-Kirchen 2">
<td>6</td>
<td>VBG Efringen-Kirchen 2</td>
<td>0/0</td>
<td>0:0</td>
<td>0</td>
</tr>
<tr team="TV Todtnau 2">
<td>7</td>
<td>TV Todtnau 2</td>
<td>0/0</td>
<td>0:0</td>
<td>0</td>
</tr>
<tr team="TV Staufen 2">
<td>8</td>
<td>TV Staufen 2</td>
<td>0/0</td>
<td>0:0</td>
<td>0</td>
</tr>
<tr team="TV Bad Säckingen 3">
<td>9</td>
<td>TV Bad Säckingen 3</td>
<td>0/0</td>
<td>0:0</td>
<td>0</td>
</tr>
<tr team="SG Breisach-Gündlingen 2">
<td>10</td>
<td>SG Breisach-Gündlingen 2</td>
<td>0/0</td>
<td>0:0</td>
<td>0</td>
</tr>
<tr class="norankings"><td colspan="4">Für diese Saison stehen derzeit keine Ergebnisse bereit.</td></tr>
</tbody>
</table></div>
</div></div>
