<div class="col sams-rankings"><div class="box">
<h3 class="fw-bold">Landespokal Herren</h3>
<div class="footnote">
<div class="season">
                        Saison 2022/23</div>
<div class="timestamp">
                        Stand 07.08.2022, 06:49 Uhr</div>
</div>
<div><table class="w-100">
<thead><tr>
<th>Platz</th>
<th>Mannschaft</th>
<th>Siege</th>
<th>Sätze</th>
<th>Punkte</th>
</tr></thead>
<tbody>
<tr team="Bad Säckinger Wölfe">
<td></td>
<td>Bad Säckinger Wölfe</td>
<td>/</td>
<td></td>
<td></td>
</tr>
<tr team="FT 1844 Freiburg 1">
<td></td>
<td>FT 1844 Freiburg 1</td>
<td>/</td>
<td></td>
<td></td>
</tr>
<tr team="FT 1844 Freiburg 2">
<td></td>
<td>FT 1844 Freiburg 2</td>
<td>/</td>
<td></td>
<td></td>
</tr>
<tr team="TG Trossingen">
<td></td>
<td>TG Trossingen</td>
<td>/</td>
<td></td>
<td></td>
</tr>
<tr team="TSV Mimmenhausen 2">
<td></td>
<td>TSV Mimmenhausen 2</td>
<td>/</td>
<td></td>
<td></td>
</tr>
<tr team="VC Haslach">
<td></td>
<td>VC Haslach</td>
<td>/</td>
<td></td>
<td></td>
</tr>
<tr team="VC Müllheim">
<td></td>
<td>VC Müllheim</td>
<td>/</td>
<td></td>
<td></td>
</tr>
<tr class="norankings"><td colspan="4">Für diese Saison stehen derzeit keine Ergebnisse bereit.</td></tr>
</tbody>
</table></div>
</div></div>
