@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--color-blumine: #366273;
	--color-turquoise: #01a29a;
	--color-onyx: #363b40;
	--color-aquahaze: #eff5f5;
	--color-lion: #bfa084;
	--color-gamboge: #f09e1a;
	--page-x-space: 1.5rem; /* This is the minimum page spacing left & right */
	--page-content-max-width: 1200px; /* Maximum width of the content area */
	--page-grid-content-area: min((100% - (var(--page-x-space) * 2)), var(--page-content-max-width));
}

@layer components {
	.bg-gradient-overlay {
		@apply relative before:absolute before:inset-0 before:block before:z-[-5]
		before:bg-gradient-to-b before:from-onyx before:to-blumine before:opacity-95;
	}
	.bg-gradient-overlay-double {
		@apply relative after:absolute after:inset-0 after:block after:z-[-5]
		after:bg-gradient-to-b after:from-onyx after:to-transparent after:opacity-40;
	}
	.section-bg-gradient {
		@apply relative after:absolute after:-inset-0 after:block after:z-[-5]
		after:bg-gradient-to-b after:from-onyx after:to-blumine after:opacity-100;
	}
	.card {
		@apply bg-white rounded-lg text-onyx px-6 py-4;
	}
	.card-narrow {
		@apply bg-white rounded text-onyx p-0;
	}
	.card-heading {
		@apply font-bold text-xl text-blumine font-humanist;
	}
	.button {
		@apply font-humanist bg-blumine hover:bg-turquoise text-white hover:text-white px-4 py-2 rounded-full border-2 border-white hover:border-white duration-200 tracking-wider select-none break-inside-avoid whitespace-nowrap inline-flex justify-center items-center;
	}
	.button-transparent {
		@apply button bg-transparent border-white;
	}
	.button-slim {
		@apply button py-1 px-2;
	}
	.hyperlink {
		@apply text-turquoise hover:text-lion hover:cursor-pointer;
	}
}

/* ------ Selection ------ */
::selection {
	@apply text-white bg-blumine;
}

/* ------ Scrollbar ------ */
@media (min-width: 768px) {
	::-webkit-scrollbar {
		@apply w-2 h-2;
	}
	::-webkit-scrollbar-button {
		@apply w-0 h-0;
	}
	::-webkit-scrollbar-thumb {
		/* border-radius: 0px; */
		@apply bg-lion border-none;
	}
	::-webkit-scrollbar-thumb:hover {
		@apply bg-turquoise;
	}
	::-webkit-scrollbar-thumb:active {
		@apply bg-turquoise;
	}
	::-webkit-scrollbar-track {
		/* border-radius: 0px; */
		@apply bg-onyx border-none;
	}
	::-webkit-scrollbar-track:hover {
		@apply bg-onyx;
	}
	::-webkit-scrollbar-track:active {
		@apply bg-onyx;
	}
	::-webkit-scrollbar-corner {
		@apply bg-transparent;
	}
}
/* ------ Summary ------ */
summary::-webkit-details-marker,
summary::marker {
	/* hides the default arrow */
	display: none;
	content: none;
}

/* ------ Intro Scoll Animation ------ */
/* section#intro img {
	animation: intro-zoom linear;
	animation-timeline: scroll();
}
@keyframes intro-zoom {
	0% {
		opacity: 100;
	}
	85% {
		opacity: 0;
	}
} */
