---
---

:root {
  --font1: "Open Sans", sans-serif;
  --font2: "Montserrat", sans-serif;
}
/* ------ Custom Colors for Bootstrap ------ */
$primary: {{site.color_primary}}; /* rgb(1,162,154) | Persian Green */
$secondary: {{site.color_secondary}}; /* rgb(54,98,115) | Blumine */
$dark: {{site.color_dark}}; /* rgb(54,59,64) | Baltic Sea */
$light: {{site.color_light}}; /* rgb(239,245,245) | Aqua Haze */
$success: {{site.color_success}}; /* rgb(191,160,132) | Rodeo Dust */
$info: {{site.color_info}}; /* rgb(102,102,102) | Dim Gray  */
$danger: {{site.color_danger}}; /* rgb(163,18,19) | Dark Red  */
$warning: {{site.color_warning}}; /* rgb(240,158,26) | Vivid Orange  */

/* ------ Libraries ------ */
@import "bootstrap/bootstrap";
@import "fontawesome/fontawesome";
@import "fontawesome/solid";
@import "fontawesome/brands";

html {
  scroll-behavior: smooth;
}

body {
  background: var(--bs-white);
  color: var(--bs-info);
  font-family: var(--font1);
  overflow-x: hidden;
  overflow-y: scroll;
  cursor: default;
  min-height: 100dvh;
  & > * {
    width: 100%;
    overflow-x: hidden;
  }
}

a {
  color: var(--bs-primary);
  transition: 0.5s;
  text-decoration: none;
  &:hover,
  &:active,
  &:focus {
    color: var(--bs-success);
    outline: none;
    text-decoration: none;
  }
}

p {
  padding: 0;
  margin: 0 0 30px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font2);
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
  word-wrap: break-word;
}

/* ------ Scrollbar ------ */
@media (min-width: 768px) {
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  ::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--bs-success);
    border: none;
    border-radius: 0px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: var(--bs-primary);
  }

  ::-webkit-scrollbar-thumb:active {
    background: var(--bs-primary);
  }

  ::-webkit-scrollbar-track {
    background: var(--bs-dark);
    border: none;
    border-radius: 0px;
  }

  ::-webkit-scrollbar-track:hover {
    background: var(--bs-dark);
  }

  ::-webkit-scrollbar-track:active {
    background: var(--bs-dark);
  }

  ::-webkit-scrollbar-corner {
    background: transparent;
  }
}

/* ------ Text Selection ------ */

::selection {
  color: var(--bs-white);
  background: var(--bs-secondary);
}
/* ------ Text Selection ------ */
.zebra-list {
  & > :nth-child(odd) {
    background: rgba(0, 0, 0, 0.05);
  }
}
/* ------ Banner ------ */
.banner-info {
  background: #ffdd00;
  color: #0057b7;
  width: 100vw;
  line-height: 20px;
  font-size: 14px;
  text-align: center;
  a {
    color: #0057b7;
  }
}

/* ------ Cover-BG (background image with dark gradient) ------ */
.cover-img-bg {
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}

@media (max-width: 769px) {
  .cover-img-bg {
    background-attachment: scroll !important;
  }
}
/* ------ Announcements ------ */
#announcements {
  color: var(--bs-white);
  background: var(--bs-secondary);
  a {
    color: var(--bs-white);
    font-weight: 600;
    &:hover {
      text-decoration: underline;
    }
  }
  p:last-child {
    margin: 0;
  }
  :not(a) {
    i, em, u {
      text-decoration: underline;
      text-decoration-style: wavy;
      text-decoration-color: var(--bs-primary);
    }
  }
}


/* ------ Intro Section ------ */
#intro {
  min-height: 90vh;
  min-height: 90svh;
  min-height: calc(100svh - 54px);
  background: var(--bs-dark);
  color: var(--bs-white);
  position: relative;
  transition: background-image 1s;

  &.random {
    background: linear-gradient(45deg, rgba(54, 59, 64, 0.8), rgba(54, 98, 115, 0.8)), var(--bs-dark);
  }
  &.rnd-1,
  &.rnd-2,
  &.rnd-3,
  &.rnd-4,
  &.rnd-5 {
    background: linear-gradient(45deg, rgba(54, 59, 64, 0.8), rgba(54, 98, 115, 0.8)), url("/img/intro-bg.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
  }
  &.rnd-6,
  &.rnd-7,
  &.rnd-8,
  &.rnd-9,
  &.rnd-10 {
    background: linear-gradient(45deg, rgba(54, 59, 64, 0.8), rgba(54, 98, 115, 0.8)), url("/img/intro-bg2.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
  }
  .vcm-banner img {
    max-height: 200px;
    max-width: 90vw;
  }
  .btn-quicklinks {
    font-family: var(--font2);
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    transition: 0.5s;
    border: 2px solid #fff;
    color: var(--bs-white);

    &:hover {
      color: var(--bs-secondary);
      background: #fff;
    }
  }
}
/* ------ Premium Sonsors (before the fold!) ------ */
.intro-sponsor {
  background: #ffffff;
  color: var(--bs-info);
  img {
    max-height: 56px;
    max-width: 50%;
  }
}

@media (min-height: 600px) {
  .intro-sponsor img {
    max-height: 72px;
    max-width: 50%;
  }
}

/* ------Navigation Menu ------ */
.navbar {
  .nav-link {
    color: var(--bs-white);
    font-weight: 500;
    font-size: 14px;
    &:focus,
    &:hover {
      color: var(--bs-success);
    }
  }
  button.navbar-toggler {
    .navbar-toggler-custom-icon i {
      transition: 1s;
    }
    &:hover .navbar-toggler-custom-icon i {
      transform: rotateX(180deg);
      color: var(--bs-primary);
    }
  }
}
/* ------ Sections ------ */
.section-header {
  .section-title {
    font-size: 32px;
    color: var(--bs-black);
    text-align: center;
    font-weight: 400;
  }
  .section-description {
    text-align: center;
    padding-bottom: 40px;
    color: var(--bs-info);
    font-style: italic;
  }
  .section-divider {
    display: block;
    width: 60px;
    height: 3px;
    background: var(--bs-secondary);
    background: linear-gradient(0deg, var(--bs-secondary) 0%, var(--bs-dark) 100%);
    margin: 0 auto;
    margin-bottom: 20px;
  }
}
.section-bg {
  background: var(--bs-light);
}
/* ------ Verein Section ------ */
#verein {
  .mitglied {
    margin-bottom: 20px;
    overflow-x: auto;
    display: flex;
    align-items: center;
  }
  .mitgliederliste {
    a {
      color: var(--bs-info);
    }
    .avatar {
      height: 4rem;
      width: 4rem;
      border-radius: 50%;
      overflow: hidden;
      float: left;
      margin-right: 10px;

      div {
        height: 100%;
        width: 100%;
        background-size: cover;
        background-image: url(/img/noavatar.png), linear-gradient(rgba(54, 59, 64, 0.9), rgba(54, 98, 115, 0.9));
        transition: 0.5s;
      }
    }
    h4.name {
      font-size: 1rem;
    }
  }
}

/* ------ Stadtfest ------ */
.stadtfest-image {
  height: 100%;
  width: 100%;
  min-height: 200px;
  min-width: 1px;
  background-image: url("/img/muellheim-stadtfest.jpg");
  background-size: cover;
  background-position: center;
}

/* ------ Fotos Teaser ------ */
#fotos-teaser {
  .foto {
    background-size: cover;
    background-position: center center;
    padding: 0;
  }
}

/* ------ Beachvolleyball ------ */
.beachvolleyball-image {
  height: 100%;
  width: 100%;
  min-height: 200px;
  min-width: 1px;
  background-image: url("/img/beachvolleyball-britzingen.jpg");
  background-size: cover;
  background-position: center;
}

/* ------ Loading Spinners ------ */
.loadingspinner,
#blogpost img,
#blogpost video {
  background-image: url(/img/loadingspinner.gif);
  background-repeat: no-repeat;
  background-position: center;
}

/* ------ Blog Post ------ */
#blogpost {
  img,
  video {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
  }
  blockquote {
    background: rgba(0, 0, 0, 0.05);
    color: #000;
    padding: 1rem 2rem;
  }
}

.social-sharing i:before,
.social-sharing a span {
  font-size: 0.8rem;
  color: var(--bs-white);
}

.social-sharing a {
  display: inline-block;
  padding: 5px;
  margin: 5px;
  border: 2px solid var(--bs-secondary);
  border-radius: 3px;
  background: var(--bs-secondary);
  line-height: 0.8rem;
  transition: 0.3s;
}

@media (max-width: 769px) {
  .social-sharing a i,
  .social-sharing a span {
    font-size: 0.6rem;
  }
}

.social-sharing a:hover {
  background: var(--bs-white) !important;
}

.social-sharing a:hover i:before,
.social-sharing a:hover span {
  color: var(--bs-secondary);
}

.social-sharing a span {
  padding-left: 4px;
  font-weight: bold;
}

.social-sharing a.facebook {
  border-color: #3b5998;
  background: #3b5998;
}

.social-sharing a.facebook:hover i:before,
.social-sharing a.facebook:hover span {
  color: #3b5998;
}

.social-sharing a.twitter {
  border-color: #55acee;
  background: #55acee;
}

.social-sharing a.twitter:hover i:before,
.social-sharing a.twitter:hover span {
  color: #55acee;
}

.social-sharing a.whatsapp {
  border-color: #25d366;
  background: #25d366;
}

.social-sharing a.whatsapp:hover i:before,
.social-sharing a.whatsapp:hover span {
  color: #25d366;
}

.social-sharing a.email {
  border-color: #666;
  background: #666;
}

.social-sharing a.email:hover i:before,
.social-sharing a.email:hover span {
  color: #666;
}

.social-sharing.square a {
  height: 30px;
  width: 30px;
  overflow: hidden;
  text-align: center;
}

/* ------ Short Intros & Blog Post Header ------ */
#shortintro,
#blog-post-header {
  background: linear-gradient(rgba(54, 59, 64, 0.9), rgba(54, 98, 115, 0.9)), url(/img/call-to-action-bg.jpg) fixed center center;
  background-size: cover;
}

/* ------ Heimspiele Section ------ */
#heimspiele {
  overflow: hidden;
  background: linear-gradient(rgba(54, 59, 64, 0.9), rgba(54, 98, 115, 0.9)), url(/img/call-to-action-bg.jpg) fixed center center;
  background-size: cover;
  color: var(--bs-white);
  h4 {
    color: var(--bs-success);
  }
  .cta-title {
    color: var(--bs-white);
    font-size: 28px;
  }
}

/* ------ Call To Action Section ------ */
#call-to-action {
  overflow: hidden;
  background: linear-gradient(rgba(54, 59, 64, 0.9), rgba(54, 98, 115, 0.9)), url(/img/call-to-action-bg.jpg) fixed center center;
  background-size: cover;

  .cta-title {
    color: var(--bs-white);
    font-size: 28px;
    font-weight: 700;
  }
  .cta-text {
    color: var(--bs-white);
  }
}

@media (min-width: 769px) {
  #call-to-action .cta-btn-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

.cta-btn {
  font-family: var(--font2);
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 30px;
  border-radius: 25px;
  transition: background 0.5s;
  margin: 10px;
  border: 2px solid #fff;
  color: var(--bs-white);

  &:hover {
    background: var(--bs-primary);
    color: var(--bs-white);
    border: 2px solid var(--bs-white);
  }
}

/* ------ Specials & Corona and Sport Section ------ */
#special {
  overflow: hidden;
  background: linear-gradient(rgba(54, 59, 64, 0.9), rgba(54, 98, 115, 0.9));
  background-size: cover;
  color: #fff;

  .cta-title {
    color: var(--bs-white);
    font-size: 28px;
    font-weight: 700;
  }
  .cta-text {
    color: var(--bs-white);
  }
  a {
    color: var(--bs-success);
  }
  .sources p {
    margin: 0;
  }
}

#corona-und-sport {
  overflow: hidden;
  background: linear-gradient(rgba(54, 59, 64, 0.9), rgba(54, 98, 115, 0.9)), url(/img/corona-and-sport.jpg) fixed center center;
  background-size: cover;
  color: #fff;
  .cta-title {
    color: var(--bs-white);
    font-size: 28px;
    font-weight: 700;
  }
  .sources p {
    margin: 0;
  }
}

/* ------ Box (Card) ------ */
.box {
  padding: 40px;
  margin-bottom: 60px;
  box-shadow: 0px 0px 30px rgba(73, 78, 92, 0.15);
  background: #fff;
  transition: 0.4s;
  cursor: default;

  & :not(h1, h2, h3, h4) a:not([href^="mailto:"]) {
    word-break: break-word;
  }
  &.dark {
    background: var(--bs-dark);
  }
}

@media screen and (max-width: 768px) {
  .box {
    padding: 20px;
    margin-bottom: 30px;
    width: 100%;
  }
}

/* ------ Simple Page (Satzung, Datenschutz, Impressum) ------ */
#page-simple {
  padding: 30px 0;

  .box {
    overflow: hidden;
    overflow-wrap: anywhere;

    h1,
    h2,
    h3,
    h4 {
      font-weight: 500;
      margin: 0.2rem 0;
      /* Avoids headings being cut off mid word. */

      &:not(:first-child) {
        margin-top: 1rem;
      }
    }
  }
}

/* ------ Matches ------ */
#matches {
  padding: 30px 0;
  .past {
    .ergebnis-liste {
      .match {
        &:nth-child(odd) {
          background: rgba(0, 0, 0, 0.05);
        }
      }
    }
  }
  .footnote {
    font-style: italic;
    font-size: small;
  }
  .timestamp {
    text-align: right;
    color: rgba(0, 0, 0, 0.3);
  }
  .nomatches {
    text-align: center;
    padding: 0.5rem 0;

    &:not(:first-child) {
      display: none;
    }
  }
}

/* ------ Tabelle ------ */
.sams-rankings {
  .timestamp {
    text-align: right;
    color: rgba(0, 0, 0, 0.3);
  }
  table {
    tr > * {
      padding: 1px;
      text-align: center;
    }
    tbody tr:hover {
      background-color: var(--bs-secondary)!important;
      color: var(--bs-white)!important;
    }
  }
}
@media (max-width: 768px) {
  .sams-rankings {
    table {
      th,
      td {
        &:nth-child(4) {
          display: none;
          /* Blendet Sätze aus der Tabellenübersicht aus */
        }
      }
    }
  }
}

/* ------ News ------ */
#news {
  .box {
    cursor: pointer;
  }
  .newsposts {
    .box {
      a.thumbnail {
        width: 100%;
        width: calc(100% + 40px);
        height: 160px;
        margin: -20px;
        top: -40px;
        position: relative;
        overflow: hidden;
        display: block;
        box-shadow: 0px 0px 30px rgba(73, 78, 92, 0.15);

        div {
          width: 100%;
          height: 100%;
          background-size: cover;
          background-position: center;
          transition: 0.3s;
        }
      }
      &:hover {
        a.thumbnail div {
          transform: scale(1.2);
        }
      }
    }
    img {
      display: none;
    }
  }
  h4 {
    margin-left: 0;
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;

    a {
      color: #111;
    }
  }
  p,
  .post-content * {
    font-size: 14px;
    margin-left: 0;
    margin-bottom: 0;
    line-height: 24px;
  }
  p.post-url {
    text-align: right;
    position: relative;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 1) 70%);
    margin: -24px 0 0 0;
  }
  .post-excerpt {
    overflow: hidden;
    max-height: 98px;
    text-overflow: ellipsis;
  }
}
/* special CSS depending on line-clamp support*/
@supports (-webkit-line-clamp: 3) {
  #news {
    .post-excerpt {
      max-height: initial;
      text-overflow: initial;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }
    .no-post-thumbnail.post-excerpt {
      -webkit-line-clamp: 6;
    }
    p.post-url {
      display: none;
    }
  }
}
@media (max-width: 767px) {
  #news {
    .newsposts {
      .box {
        margin-bottom: 20px;
        overflow: hidden;

        a.thumbnail {
          width: calc(100% + 60px);
          margin: -30px -30px 10px -30px;
          position: static;

          div {
            background-blend-mode: unset;
            filter: none;
            transform: scale(1);
          }
        }

        &:hover {
          a.thumbnail div {
            transform: scale(1);
          }
        }
      }
    }
  }
  .landingpage #news .newsposts > div:nth-of-type(1n + 3) {
    .thumbnail {
      display: none;
    }
    .box {
      padding: 24px;
    }
    .post-excerpt {
      max-height: 48px;
    }
    .post-title {
      margin-bottom: 10px;
    }
  }
}

.post-photoalbum {
  text-align: center;
  a {
    font-family: var(--font2);
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 25px;
    transition: background 0.5s;
    margin: 10px;
    border: 2px solid var(--bs-white);
    background: linear-gradient(var(--bs-secondary), var(--bs-dark));
    color: var(--bs-white);

    &:hover {
      border-color: var(--bs-secondary);
      background: transparent;
      color: var(--bs-secondary);
    }
  }
}

/* ------ Mannschaften ------ */
.teaminfo {
  p {
    font-size: 14px;
    margin-bottom: 1rem;
    line-height: 24px;
  }
}

/* ------ CTA Buttons ------ */
.generic-button {
  font-family: var(--font2);
  font-weight: 400;
  letter-spacing: 1px;
  display: inline-block;
  padding: 4px 12px;
  border-radius: 50px;
  transition: 0.5s;
  border: 2px solid #fff;
  color: var(--bs-white);
  background: var(--bs-secondary);

  &:hover {
    color: var(--bs-white);
    background: var(--bs-primary);
  }
}

/* ------ Sponsors ------ */
#sponsors {
  color: #fff;
  background: linear-gradient(rgba(54, 59, 64, 0.9), rgba(54, 98, 115, 0.9)), url(/img/verein-bg.jpg) fixed center center;
  background-size: cover;

  .sponsor-carousel {
    img {
      max-height: 6rem;
      max-width: 100%;
    }
    .sponsor-item {
      padding: 0 2rem;
    }
    .sponsor-item.slick-active {
      display: flex;
      /* space and center the sponsor logos evenly */
      justify-content: space-evenly;
      align-items: center;
      height: 6rem;
    }
  }
}

/* ------ Footer ------ */
#footer {
  background: #fff;
  box-shadow: 0px -6px 12px -6px rgba(0, 0, 0, 0.1);
  padding: 30px 0;
  color: #333;
  font-size: 14px;

  a {
    color: #666;
    margin: auto 7px;

    &:hover {
      color: var(--bs-secondary);
    }
  }
}

/* ------ Print ------ */
.print-only {
  display: none!important;
}
@media print {
  .print-only {
    display: initial!important;
  }
  body *,
  main * {
    display: none;
  }

  #shortintro,
  #shortintro *,
  main,
  main * {
    display: block;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  p,
  span,
  li {
    color: #000000 !important;
  }

  main .print-page {
    display: none;
  }
}

.print-page {
  text-align: right;
}

.btn-small-download,
.print-btn,
.logo-download a {
  font-family: var(--font2);
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 6px 12px;
  border-radius: 6px;
  transition: 0.5s;
  margin: 10px;
  border: 2px solid #fff;
  color: var(--bs-white);
  background: linear-gradient(45deg, var(--bs-dark), var(--bs-secondary));

  &:hover {
    background: linear-gradient(45deg, var(--bs-primary), var(--bs-primary));
    color: var(--bs-white);
    border-color: var(--bs-white);
  }
}

/* ------ Privacy Policy and Satzung ------ */
.Datenschutzerklärung ul,
.Datenschutzerklärung ol,
.SatzungdesVolleyballclubsMüllheim ul,
.SatzungdesVolleyballclubsMüllheim ol {
  padding-left: 1.5rem;
}

.logo-download img.white {
  background: linear-gradient(rgba(54, 59, 64, 0.9), rgba(54, 98, 115, 0.9)), url(/img/teams/damen1.jpg) center center;
  background-size: cover;
  border-radius: 1rem;
}
/* ------ Fotos ------ */



/* ------ Print Settings ------ */
@media print {
  .nav {
    display: none;
  }
  #shortintro {
    background: transparent!important;
    padding-top: 5px!important;
    padding-bottom: 5px!important;
    h3 {
      color: #000000!important;
    }
  }
  #page-simple {
    background: transparent;
    .box, .card {
      box-shadow: none!important;
    }
  }
  .main {
    display: block;
  }
}