---
layout: page
title: Neuigkeiten des Volleyballclub Müllheim
---

<main class="flex-grow-1">
  <!--===== News =====-->
  <section id="news" class="section-bg pt-3 pt-lg-5">
    <div class="container">
      <div class="row newsposts pt-md-4 pt-lg-0">
        {% for post in paginator.posts %}
        <div class="col-lg-6 d-flex">
          <div class="box w-100" onclick="location.href='{{ post.url }}';">
            {% if post.thumbnail.size > 0 %}
              {% assign thisThumbnail = post.thumbnail%}
            {% elsif post.gallery[0].size > 0%}
              {% assign randomGalleryItem = site.time | date: "%N" | modulo: post.gallery.size | plus: 0 %}
              {% assign thisThumbnail = post.gallery[randomGalleryItem] %}
            {% else%}
              {% assign thisThumbnail = nil %}
            {% endif %}

            {% if thisThumbnail.size > 0 %}
            {% assign processed_thumbnail = thisThumbnail | replace: "/upload/", "/thumbnails/news/" %}
              {% assign thumbnail_exist = false %}
              {% for file in site.static_files %}
                {% if file.path == processed_thumbnail %}
                  {% assign thumbnail_exist = true %}
                {% endif %}
              {% endfor %}
            {% if thumbnail_exist %}
            <a class="thumbnail" href="{{ post.url }}"><div style="background-image:url({{ processed_thumbnail }});"></div></a>
            {% else %}
            <a class="thumbnail" href="{{ post.url }}"><div style="background-image:url({{ thisThumbnail }});"></div></a>
            {% endif %}
            {% endif %}
            <h4 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h4>
            <div class="post-content">
              <div class="post-excerpt {% if thisThumbnail == '' or thisThumbnail == nil or thisThumbnail == blank %} no-post-thumbnail{% endif %}">{{ post.content | strip_html }}</div>
            </div>
            <p class="post-url"><a href="{{ post.url }}" class="read-more">weiterlesen</a></p>
          </div>
        </div>
        {% endfor %}
      </div> 

      <div class="paginator text-center pb-5">
        <div class="btn-group" role="group" aria-label="Pagination">
          {% assign next2-page = paginator.page | plus:2 %}
          {% assign previous2-page = paginator.page | minus:2 %}
          {% assign second-last-page = paginator.total_pages | minus:1 %}

          {% for page in (1..paginator.total_pages) %}
          {% if page == 1 and page == paginator.page %} <!-- first page active -->
          <a href="/blog/" type="button" class="btn btn-outline-dark active">{{ page }}</a>

          {% elsif page == 1 %} <!-- first page -->
          <a href="/blog/" type="button" class="btn btn-outline-secondary">{{ page }}</a>

          {% elsif page == paginator.page %} <!-- page active -->
          <a href="/blog/{{ page }}" type="button" class="btn btn-outline-dark active">{{ page }}</a>

          {% elsif page == paginator.total_pages %} <!-- last page -->
          <a href="/blog/{{ page }}" type="button" class="btn btn-outline-secondary">{{ page }}</a>

          {% elsif page == paginator.previous_page or page == paginator.next_page %} <!-- next & previous pages -->
          <a href="/blog/{{ page }}" type="button" class="btn btn-outline-secondary">{{ page }}</a>

          {% elsif page == next2-page or page == previous2-page %} <!-- next & previous pages -->
          <a href="/blog/{{ page }}" type="button" class="btn btn-outline-secondary d-none d-sm-inline">{{ page }}</a>

          {% elsif page == 2 %} <!-- "..." between first and last -->
          <button type="button" class="btn btn-outline-dark disabled">...</button>
          {% elsif page == second-last-page %}
          <button type="button" class="btn btn-outline-dark disabled">...</button>
          
          {% endif %}
          {% endfor %}
        </div>
      </div>

    </div>
  </section>
  <!--===== #news =====-->
</main>
