<!DOCTYPE html>
<html lang="{{ site.language }}">
<head>
  {% include meta.html %}

</head>

<body class="{% if page.title %}{{ page.title | remove: ' ' }}{% else %}landingpage{% endif %} d-flex flex-column">

  {% include navigation.html %}

    {{ content }}

  {% include footer.html %}

  <script src="/assets/js/jquery/jquery.slim.min.js"></script>
  <script src="/assets/js/bootstrap/bootstrap.min.js"></script>
  <script src="/assets/js/custom/randomclass.js"></script>
  <script src="/assets/js/slick/randomize.js"></script>
  <script src="/assets/js/slick/slick.min.js"></script>
  <script src="/assets/js/slick/initialize.js"></script>
  <script src="/assets/js/custom/external-links.js"></script>
  <script src="/assets/js/custom/navbar-collapse.js"></script>
</body>
</html>
