<!DOCTYPE html>
<html lang="{{ site.language }}">
<head>

  {% include analytics.html %}
  {% include meta.html %}
  {% include serviceworker.html %}

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700|Open+Sans:300,300i,400,400i,700,700i" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="/lib/animate/animate.min.css" rel="stylesheet">
  <link href="/lib/magnific-popup/magnific-popup.css" rel="stylesheet">
  <script src="https://kit.fontawesome.com/115d35fe3e.js" crossorigin="anonymous"></script>

  <!-- Ergebnisdienst CSS Files -->
  <link href="/lib/ergebnisdienst/vly.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="/css/variables.css" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet">

  <!-- PWA -->
  <link rel="manifest" href="/manifest.json">

</head>

<body class="{% if page.title %}{{ page.title | remove: ' ' }}{% else %}landingpage{% endif %}">
{% include tagmanager.html %}
<!--===== Header =====-->
  <header id="header">
    <div class="corona-info"><a href="https://www.baden-wuerttemberg.de/de/service/aktuelle-infos-zu-corona/aktuelle-corona-verordnung-des-landes-baden-wuerttemberg/" target="_blank" rel="nofollow">Die Landesregierung hat die Schließung von Schulen und Sportstätten am 17 März 2020 verordnet.</a></div>

    <div class="container">

      <nav class="navbar navbar-expand-md">
        <h1><a href="/#top" class="scrollto"><i class="fas fa-volleyball-ball"></i> VC Müllheim</a></h1>
        <button class="navbar-toggler p-0" type="button" data-toggle="collapse" data-target="#navbarVCM" aria-controls="navbarVCM" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"><i class="fas fa-bars" aria-hidden="true"></i></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarVCM">
          <ul class="navbar-nav">
            <li class="nav-item d-md-none">----------</li>
            <li class="nav-item"><a class="nav-link scrollto" href="/#mannschaften">Mannschaften</a></li>
            {% if page.url == "/" %}
            <li class="nav-item"><a class="nav-link scrollto" href="/#news">News</a></li>
            {% else if %}
            <li class="nav-item"><a class="nav-link scrollto" class="nav-link" href="/blog/">News</a></li>
            {% endif %}
            <li class="nav-item"><a class="nav-link scrollto" href="/tabelle/">Tabelle</a></li>
            <li class="nav-item"><a class="nav-link scrollto" href="/#kontakt">Kontakt</a></li>
            <li class="nav-item d-md-none">----------</li>
            <li class="nav-item d-md-none"><a class="nav-link" href="https://www.facebook.com/VCMuellheim/" target="_blank"><i class="fab fa-facebook-square"></i> Facebook</a></li>
            <li class="nav-item d-md-none"><a class="nav-link" href="mailto:info@vcmuellheim.de"><i class="fas fa-envelope"></i> info@vcmuellheim.de</a></li>
          </ul>
      </div>
      </nav><!-- #nav-menu-container -->
    </div>
  </header>
<!--===== #header =====-->

      {{ content }}


<!--===== Footer =====-->
  <footer id="footer">
    <div class="container">
      <div class="d-flex justify-content-between align-items-center">
        <div class="">
          <nav class="footer-links text-lg-left pt-2 pt-lg-0">
            <a href="/docs/aufnahmeform.pdf" download>Aufnahmeform</a>
            <a href="/satzung/" rel="license">Satzung</a>
            <a href="/datenschutz/" rel="license">Datenschutz</a>
          </nav>
        </div>
        <div class="">
          <nav class="desktop-footer-links">
          <a href="https://www.facebook.com/VCMuellheim/" target="_blank"><i class="fab fa-facebook-square"></i><span class="d-sm"> Facebook</span></a>
          <a href="mailto:info@vcmuellheim.de"><i class="fa fa-envelope"></i><span class="d-sm"> info@vcmuellheim.de</span></a>
        </nav>
        </div>
      </div>
    </div>
  </footer>
<!--===== #footer =====-->
 <!--<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>-->

<!--===== Scripts =====-->
  <!-- Ergebnisdienst -->
  <script src="//volleyball-ergebnisdienst.de/widget/vly.min.js"></script>

  <!-- JavaScript Libraries -->
  <script src="/lib/jquery/jquery.min.js"></script>
  <script src="/lib/jquery/jquery-migrate.min.js"></script>
  <script src="/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/lib/easing/easing.min.js"></script>
  <script src="/lib/wow/wow.min.js"></script>
  <script src="/lib/magnific-popup/magnific-popup.min.js"></script>

  <!-- Template Main Javascript File -->
  <script src="/js/main.js"></script>

</body>
</html>
