---
layout: default
---

<!--===== Short Intro =====-->
    <section id="shortintro" class="section-bg">
      <div class="container">
        <div class="row">
          <div class="col-lg-9 text-center text-lg-left">
            <h3 class="si-title">{{ page.title }}</h3>
          </div>
        </div>
      </div>
    </section>
<!--===== #shortintro =====-->


<!--===== Post =====-->
    <section id="additional-content">

      <div id="blogpost" class="features-row section-bg">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <article class="post">
                  <div class="wow fadeInNone">
                    <p>{{ page.date | date: "%d.%m.%Y" }}</p>
                    <img class="post-thumbnail" src="{{ page.thumbnail }}" alt="">
                    <div class="wow fadeInBottom" data-wow-duration="0.5s">
                      {{ content }}
                    </div>
                   
                      <div class="social-sharing">
                          <a class="facebook" href="https://facebook.com/sharer/sharer.php?u={{ site.baseurl }}{{ post.url }}%20{{ post.title }}%20%0D%0A{{ post.excerpt }}%20#VCMüllheim" target="_blank"><i class="fa fa-facebook"></i><span>Facebook</span></a>
                          <a class="twitter" href="https://twitter.com/intent/tweet/?text{{ post.title }}%20%0D%0A{{ post.excerpt }}#VCMüllheim&url={{ site.baseurl }}{{ post.url }}" target="_blank"><i class="fa fa-twitter"></i><span>Twitter</span></a>
                          <a class="whatsapp" href="whatsapp://send?text={ site.baseurl }}{{ post.url }}%20{{ post.title }}:{{ post.excerpt }}" target="_blank"><i class="fa fa-whatsapp"></i><span>WhatsApp</span></a>
                          <a class="mail" href="mailto:?subject={{ post.title }}&body={{ site.baseurl }}{{ post.url }}%20%0D%0A{{ post.excerpt }}"><i class="fa fa-mail"></i><span>Email</span></a>
                      </div>
                      
                  </div>
                </article>
            </div>
          </div>
        </div>
      </div>

    </section>
<!--===== Post =====-->
