---
layout: default
---
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/de_DE/sdk.js#xfbml=1&version=v3.3"></script>


<!--===== Additional Content =====-->
    <section id="additional-content">

      <div id="blogpost" class="features-row section-bg">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <article class="post">
                  <div class="wow fadeInButtom">
                    <h2>{{ page.title }}</h2>
                    <p>{{ page.date | date: "%d.%m.%Y" }}</p>
                    <img class="advanced-feature-img-left" src="{{ page.thumbnail }}" alt="">
                    <div class="wow fadeInRight" data-wow-duration="0.5s">
                      {{ content }}
                    </div>
                      <div class="text-right">
                        <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-width="" data-layout="button" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
                      </div>
                  </div>
                </article>
            </div>
          </div>
        </div>
      </div>

    </section>
<!--===== #additional-content =====-->
