---
layout: default
---

<!--===== Short Intro =====-->
    <section id="shortintro" class="section-bg">
      <div class="container">
        <div class="row">
          <div class="col-lg-9 text-center text-lg-left">
            <h3 class="si-title">{{ page.title }}</h3>
            <span class="si-text">{{ page.date | date: "%d.%m.%Y" }}</span>
          </div>
        </div>
      </div>
    </section>
<!--===== #shortintro =====-->


<!--===== Post =====-->
    <section id="post-content">

      <div id="blogpost" class="features-row section-bg">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <article class="post">
                  <div class="wow fadeInNone">
                    <img class="post-thumbnail" src="{{ page.thumbnail }}" alt="">
                    <div class="wow fadeInBottom" data-wow-duration="0.5s">
                      {{ content }}
                    </div>
                      
                      
                      <div class="social-sharing">
                          <a class="facebook" href="https://facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}%20{{ page.title }}%20%0D%0A{{ post.excerpt }}%20#VCMüllheim" target="_blank"><i class="fa fa-facebook"></i><span>Facebook</span></a>
                          <a class="twitter" href="https://twitter.com/intent/tweet?button_hashtag=VCMüllheim&ref_src=test" class="twitter-hashtag-button" data-text="{{ page.title }}:%20{{ site.url }}{{ page.url }}" data-url="{{ site.url }}{{ page.url }}" data-lang="de" data-show-count="false"><i class="fa fa-twitter"></i><span>Twitter</span></a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                          <a class="whatsapp" href="https://wa.me/?text={{ page.title }}:%20{{ site.url }}{{ page.url }}" target="_blank"><i class="fa fa-whatsapp"></i><span>WhatsApp</span></a>
                          <a class="email" href="mailto:?subject={{ page.title }}&body={{ site.url }}{{ page.url }}%20%0D%0A{{ page.excerpt }}" target="_blank"><i class="fa fa-envelope"></i><span>Email</span></a>
                      </div>
                      
                  </div>
                </article>
            </div>
          </div>
        </div>
      </div>

    </section>
<!--===== Post =====-->
