---
layout: default
---

<!--===== Short Intro =====-->
<section id="shortintro" class="py-3 py-md-5">
  <div class="container">
    <div class="row">
      <div class="col text-center text-lg-start">
        <h3 class="si-title">{{ page.teamname }}
          {% unless page.liga contains "99" %}
            <span class="d-none d-lg-inline">- {{ page.liga | slice: 4, 99   }}</span>
          {% endunless %}</h3>
        <p style="color:yellow" class="p-0 m-0">🚧 Dieser Bereich ist noch in Arbeit. Bitte komme später noch einmal vorbei. 🚧</p>
      </div>
    </div>
  </div>
</section>
<!--===== #shortintro =====-->

<main class="flex-grow-1 d-flex flex-column">
  <!--===== Mannschaftsdetails =====-->
  <section id="teaminfo" class="section-bg flex-grow-1 pt-4 pb-4">
    <div class="container">
      <div class="row teams">

      <!-- Key Team Data (same as on home page) -->  
        <div class="teamcore col col-lg-6 mb-3">
          <div class="box h-100 mb-0">
              <h4 class="fw-bold">Über uns</h4>
              <p>Hallo! Wir sind die <strong>{{ page.teamname }}</strong> vom VC Müllheim{% unless page.liga contains "99" %}
                  und wir spielen in der <strong>{{ page.liga | slice: 4, 99 }}</strong>
                {% endunless %}.
              </p>
              <!-- Altersangabe  -->
              {% if page.alter.size > 0 %}
                <p class="alter"> <b>Alter:</b> {{ page.alter }}</p>
              {% endif %}
              <!-- Spielplan & Kalender  -->
              {% if page.sbvv_id > 0 %}
                <p class="spielplan"><b>Spielplan</b>: <a href="../matches/{{ team.sbvv_id }}">Termine & Ergebnisse</a>
              {% endif %}
          </p>
          </div>
        </div>
        <div class="teamcore col col-lg-6 mb-3">
          <div class="box h-100 mb-0">
            <h4 class="fw-bold">Training</h4>
              <!-- Trainingszeiten -->
              <p class="trainingszeiten"><b>Zeiten:</b><br>{{ page.trainings-zeit1 }}<br>
                <a href="{{ page.trainings-map1 }}" target="_blank" rel="noopener"><i class="fas fa-map-marker-alt"></i> {{ page.trainings-ort1 }}</a>

                {% if page.trainings-zeit2.size > 0 %}
                  <br>{{ page.trainings-zeit2 }}<br>
                  <a href="{{ page.trainings-map2 }}" target="_blank" rel="noopener"><i class="fas fa-map-marker-alt"></i> {{ page.trainings-ort2 }}</a><br>
                {% endif %}
              <!-- Trainer 1 -->
              {% if page.trainer-name1.size > 0 %}
              <p class="trainer"><b>Trainer</b>:
              {% if page.trainer-email1 contains "@" %}<a href="mailto:{{ page.trainer-email1 }}?subject={{ site.title }} - {{ page.teamname }}">{{ page.trainer-name1 }}</a>{% else %}{{ page.trainer-name1 }}
              {% endif %}

              <!-- Trainer 2 -->
              {% if page.trainer-name2.size > 0 %} &
                {% if page.trainer-email2  contains "@" %}<a href="mailto:{{ page.trainer-email2 }}?subject={{ site.title }} - {{ page.teamname }}">{{ page.trainer-name2 }}</a>{% else %}{{ page.trainer-name2 }}
                {% endif %}
              {% endif %}
            </p>
              {% endif %}

              <!-- Ansprechperson 1 -->
              {% if page.ansprechperson-name1.size > 0 %}
                <p class="ansprechperson"><b>Ansprechperson</b>:
                  {% if page.ansprechperson-email1 contains "@" %}<a href="mailto:{{ page.ansprechperson-email1 }}?subject={{ site.title }} - {{ page.teamname }}">{{ page.ansprechperson-name1 }}</a>{% else %}{{ page.ansprechperson-name1 }}
                  {% endif %}

              <!-- Ansprechperson 2 -->
                  {% if page.ansprechperson-name2.size > 0 %} &
                    {% if page.ansprechperson-email2  contains "@" %}<a href="mailto:{{ page.ansprechperson-email2 }}?subject={{ site.title }} - {{ page.teamname }}">{{ page.ansprechperson-name2 }}</a>{% else %}{{ page.ansprechperson-name2 }}
                    {% endif %}
                  {% endif %}
                </p>
              {% endif %}
          </p>
          </div>
        </div>



        {% assign teaminfo = (site.teaminfo | sort: 'titel' | sort: 'name' | where: 'mannschaft', page.path) %}
        
        <!-- Error of no entries for this team exist -->
        {% unless teaminfo.size > 0 %}
        <div class="col">
          <div class="box">
            <p class="m-0 text-center">Derzeit leigen keine weiteren Informationen für dieses Team vor.</p>
          </div>
        </div>
        {% endunless %}

        <!-- Custom and individual Player Entries -->
        {% for entry in teaminfo %}
        {% if entry.titel.size > 0 %}
        
        <div class="mannschaftsdetail col-12 mb-3">
          <div class="box p-3">
            {% if entry.foto.size > 0 %}
            <div class="picture-container">
              <img src="{{ entry.foto }}" class="img-fluid w-100">
            </div>
            {% endif %}
            <div class="text">
              {% if entry.titel.size > 0 %}
              <h3 class="fw-bold mb-0 mt-2 text-center">{{ entry.titel }}</h3>
              {% endif %}
              {% if entry.freitext.size > 0 %}
              <p>{{ entry.freitext }}</p>
              {% endif %}
            </div>
          </div>
        </div>
        {% else %}
        <!-- Player Entries -->
        <div class="spieler-in col-12 col-md-6 col-xl-4 mb-3">
          <div class="box d-flex p-3 h-100 mb-0">
            {% if entry.foto.size > 0 %}
            <div class="picture-container col-3 me-2">
              <div style="background:url({{ entry.foto }}); background-size: cover;" class="w-100 ratio ratio-1x1 rounded-circle"></div>
            </div>
            {% endif %}
            <div class="text col">
              {% if entry.name.size > 0 %}
              <h4 class="fw-bold mb-2">{{ entry.name }}</h4>
              {% endif %}
              {% if entry.freitext.size > 0 %}
              <p class="mb-0">{{ entry.freitext }}</p>
              {% endif %}
            </div>
          </div>
        </div>   
        {% endif %}
        {% endfor %}

      </div>
    </div>
  </section>
</main>