---
layout: default
---

<!--===== Short Intro =====-->
<section id="shortintro" class="py-3 py-md-5">
  <div class="container">
    <div class="row">
      <div class="col text-center text-lg-start">
        <h3 class="si-title">{{ page.teamname }} - {{ page.liga }}</h3>
      </div>
    </div>
  </div>
</section>
<!--===== #shortintro =====-->

Dieser Bereich ist noch in Arbeit. Bitte komme später noch einmal vorbei.<br><br><br>
{{ page.trainings-zeit1 }}


{% assign teaminfo = (site.teaminfo | sort: 'titel') %}

{% for entry in teaminfo %}
<div>
  {{ entry.titel }}{{ entry.spielername }}<br>
  {{ entry.freitext }}
</div>
{% endfor %}